{% load i18n templatetags %}
    {% for field in form %}
        {%if field.name|startswith:'header' %}
          <div class="page__section--backups-instructions">

            {{ field }}
        </div>
        {% else %}

        <div id="{{field.name}}-container" class="trash--table">
              <div class="field _backupsname--table">
                <p class="field__value">{{ field.label}}</p>
              </div>
              {% with mountpoint|add:field.name as mountpath %}
                <div class="field _backups_path--table">
                    <p id="{{field.name}}-mountpoint" class="field__value">
                      <span class="mountpath {%if mountpath|path_exixts %}{%else%}invisible{%endif%}">{{mountpath}}</span>
                      <span class="nomountpath {%if mountpath|path_exixts %}invisible{%else%}{%endif%}">{%trans 'No Montada'%}</span>
                    </p>
                </div>
                <div class="field _backups_desc--table">
                  <div id="{{field.name}}-status">
                    <div class="field__value withform {%if field.help_text == 'None'%}{%else%}invisible{%endif%}">
                          {{ field}}
                            <span class="mounted {%if mountpath|path_exixts %}{%else%}invisible{%endif%}">{%trans 'Desmontar' %}</span>
                            <span class="umount {%if mountpath|path_exixts %}invisible{%else%}{%endif%}">{%trans 'Montar'%}</span>
                      </div>
                    <div class="field__value noform {%if field.help_text == 'None'%}invisible{%else%}{%endif%}">
                          <label class="field__label">{{field.help_text}}</label>
                          <p class="moving_field"><i class="fa fa-spinner fa-spin fa-1x fa-fw"></i>
                          <span class="sr-only">Loading...</span></p>
                    </div>
                  </div>
                </div>
              {% endwith %}
            </div>
        {% endif %}
    {% endfor %}
