{# Render a mail account in grid layouts #}
{% load i18n templatetags%}
<div class="mail-account--list">
    <div class="field mail-account__email--list">
        <div class="field__label">
          {% for id in key.pgpUserID %}
          <p>{{ id }}</p>
          {% endfor %}
          </div>
    </div>
    <div class="field mail-account__name--list">
        <div class="field__label inline">
            {% trans 'ID' %}
        </div>
        <div class="field__value inline">
            {{ key.pgpKeyID}}
        </div>
    </div>
    <div class="field mail-account__name--list">
          {% if key.pgpKeyExpireTime == '0' %}
          <div class="field__label inline">
               <p class="moving_field"><i class="fa fa-spinner fa-spin fa-1x fa-fw"></i>
              <label class="field__label">{% trans 'Importando clave pública' %}</label>
          </div>
          <div class="field__value inline">
                {% trans 'Refresca la página en un par de minutos para ver los detalles de la clave importada' %}
          </div>

          {% else %}
          <div class="field__label inline">
            {% if key|checkDateExpired %}
              {% trans 'Expira' %}
            {% else %}
              {% trans 'Expirada' %}
            {% endif %}
          </div>
        <div class="field__value inline">
            {{ key|expiretimestampdate}}
        </div>
          {% endif %}
    </div>
    {% if not key.pgpKeyExpireTime == '0' %}
      <ul class="mail-account__links--list">
        <li class="mail-account__link--list edit">
            <i class="fa fa-eye"></i>
            <a href="{% url 'pgpkey' keyid=key.pgpCertID %}">
                {% trans 'Ver clave' %}
            </a>
        </li>
        <li class="mail-account__link--list delete">
              <button
                  data-launch-modal    = '#modal-delete'
                  data-set-delete-dn   = "pgpCertID={{ key.pgpSignerID }},{{ ldap_tree }}"
                  data-set-delete-text = "{% trans '¿Estás segur- que quieres borrar la clave pública de la cuenta' %} {{key.pgpUserID}}?">
                  <i class="fa fa-remove"></i>
                  {% trans 'Eliminar clave' %}
      </button>

        </li>
    </ul>
    {% endif %}
</div>

