{# primary menu #}
{% load static i18n templatetags %}

<ul class="menu-primary">
    {#{ active_section }#}
    {% if request.user.role == 'admin' %}
    <li id="system-links" class="menu-primary__item {% if active_section|startswith:'system' or  active_section|length == 0 or active_section|startswith:'two-factor' %}{% else %}collapsed{% endif %}">
        <label class="menu-primary__item-label" data-toggle="system-links" data-excluded="menu-primary__item">
             <i class="fa fa-home"></i> {% trans 'Sistema' %}
        </label>
        <ul class="menu-primary__submenu">
          <a href="{% url 'system-details' %}">
            <li class="menu-primary__submenu-item {% if active_section == 'systemdetails' or active_section == '' %}active{% endif %}">
                <i class="fa fa-home"></i> {% trans 'Detalles' %}
            </li>
          </a>
          <a href="{% url 'update' %}">
            <li class="menu-primary__submenu-item {% if active_section == 'systemupdate' %}active{% endif %}">
                <i class="fa fa-refresh"></i>
                {% trans 'Actualizar' %}
                {% if system_update %}<i class="fa fa-warning"></i>{% endif %}
            </li>
          </a>
          <li id="sec-links" class="menu-primary__submenu-item {% if active_section|startswith:'systemconfig' %}{% else%}collapsed{% endif %}">
               <label class="menu-primary__submenu-item-label" 
                      data-toggle="sec-links" 
                      data-excluded="menu-primary__submenu-item"
                > <i class="fa fa-shield"></i> {% trans 'Seguridad' %}
               </label>
               <ul class="menu-primary__submenu">
                   <a href="{% url 'ssh' %}">
                       <li class="menu-primary__submenu-item  {% if active_section == 'systemconfigssh' %}active{% endif %}">
                         SSH
                       </li>
                   </a>
                   <a href="{% url 'tls' %}">
                       <li class="menu-primary__submenu-item  {% if active_section == 'systemconfigtls' %}active{% endif %}">
                        TLS 
                       </li>
                   </a>

                   <a href="{% url 'rkhunter' %}">
                       <li class="menu-primary__submenu-item  {% if active_section == 'systemconfigrkhunter' %}active{% endif %}">
                         Rkhunter
                       </li>
                   </a>

               </ul>
           </li>

          <a href="{% url 'two_factor:profile' %}">
            <li class="menu-primary__submenu-item {% if active_section|startswith:'two-factor' %}active{% endif %}">
                <i class="fa fa-shield"></i>
                {% trans '2FA' %}
                {% if security_alert %}<i class="fa fa-warning"></i>{% endif %}
            </li>
          </a>

          <a href="{% url 'unban' %}">
            <li class="menu-primary__submenu-item {% if active_section == 'systemunban' %}active{% endif %}">
                <i class="fa fa-user"></i>
                {% trans 'Desbloquear accesos' %}
            </li>
          </a>

          <a href="{% url 'reboot' %}">
            <li class="menu-primary__submenu-item {% if active_section == 'systemreboot' %}active{% endif %}">
                <i class="fa fa-power-off"></i>
                {% trans 'Reiniciar' %}
                {% if system_reboot %}<i class="fa fa-warning"></i>{% endif %}
            </li>
          </a>
          <li id="php-links" class="menu-primary__submenu-item {% if active_section|startswith:'systemphp' %}{% else%}collapsed{% endif %}">
               <label class="menu-primary__submenu-item-label" 
                      data-toggle="php-links" 
                      data-excluded="menu-primary__submenu-item"
                > <i class="fa fa-gears"></i> PhP
               </label>
               <ul class="menu-primary__submenu">
                   <a href="{% url 'php-fpm' %}">
                       <li class="menu-primary__submenu-item  {% if active_section == 'systemphp-fpm' %}active{% endif %}">
                         PHP-FPM Pools
                       </li>
                   </a>
               </ul>
           </li>

          {% if status_data.backup_enabled == True %}
          <a href="{% url 'borgbackups' %}">
            <li class="menu-primary__submenu-item {% if active_section == 'systembackups' %}active{% endif %}">
                <i class="fa fa-folder"></i>
                {% trans 'Copias de seguridad' %}
            </li>
          </a>
          {%endif %}
        </ul>
    </li>
    {% endif %}
    {% if request.user.role == 'admin' %}
    <li id="app-links" class="menu-primary__item {% if active_section|startswith:'services' or 'mailmandomains' in  active_section %}{% else %}collapsed{% endif %}">
        <label class="menu-primary__item-label" data-toggle="app-links" data-excluded="menu-primary__item">
            <i class="fa fa-th-large"></i> {% trans 'Mis aplicaciones' %}
        </label>
        <ul class="menu-primary__submenu">
           <a href="{% url 'services' %}">
              <li class="menu-primary__submenu-item {% if active_section == 'services' %}active{% endif %}">
                  {% trans 'Ver todas' %}
              </li>
           </a>
           {% for service in enabled_services_info %} 
           {% if service.settings.linkapp == True and service.settings.tomenu == 'app-links' %}
               {% if service.links|length > 0 %}
                   <li id="{{ service.settings.id }}-links" class="menu-primary__submenu-item collapsed">
                       <label class="menu-primary__submenu-item-label" 
                              data-toggle="{{ service.settings.id }}-links" 
                              data-excluded="menu-primary__submenu-item"
                        >
                           {{ service.settings.name }}
                       </label>
                       <ul class="menu-primary__submenu">
                           {% for link in service.links %}
                           <a href="{{ link.url|fqdn }}" {% if link.blank %}target="_blank"{% endif %}>
                               <li class="menu-primary__submenu-item">
                                    {{ link.label }}
                               </li>
                           </a>
                           {% endfor %}
                       </ul>
                   </li>
               {% else %}
               <a href="{% if service.links.0.url %}{{ service.links.0.url|fqdn }}{%else%}/{{ service.settings.id }}{%endif%}" target="_blank">
                   <li class="menu-primary__submenu-item">
                      {{ service.settings.name|escape }}
                   </li>
               </a>
               {% endif %}
            {% endif %}
           {% endfor %}
              {% if 'zeyple' in enabled_services %}
               <li id="zeyple" class="menu-primary__submenu-item collapsed {% if active_section == 'servicespgp' %}active{% endif %}">
                 <a href="{% url 'pgp-mails' %}">
                   {% trans 'Claves PGP' %}
                 </a>
            </li>
           {% endif %}

        </ul>
    </li>
    {% endif %}
    {% if request.user.role == 'admin' %}
    <a href="{% url 'services-available' %}">
      <li class="menu-primary__item not-collapsible {% if active_section == 'install' %}active{% endif %}">
            <i class="fa fa-dashboard"></i> {% trans 'Instalar aplicaciones' %}
      </li>
    </a>
    {% endif %}
    {% if request.user.role == 'admin' %}
    <li id="domain-links" class="menu-primary__item {% if not active_section|startswith:'domains' %}collapsed{% endif %}">
        <label class="menu-primary__item-label" data-toggle="domain-links" data-excluded="menu-primary__item">
            <i class="fa fa-globe"></i> {% trans 'Dominios' %}
        </label>
        <ul  class="menu-primary__submenu">
          <a href="{% url 'domains' %}">
            <li class="menu-primary__submenu-item {% if active_section == 'domains' %}active{% endif %}">
                    {% trans 'Ver dominios' %}
            </li>
          </a>
           <a href="{% url 'domains-add' %}">
              <li class="menu-primary__submenu-item {% if active_section == 'domainsadd' %}active{% endif %}">
                    {% trans 'Añadir un dominio nuevo' %}
              </li>
           </a>
           <a href="{% url 'domains-instructions' %}">
              <li class="menu-primary__submenu-item  {% if active_section == 'domainsinstructions' %}active{% endif %}">
                    {% trans 'Instrucciones' %}
              </li>
           </a>
        </ul>
    </li>
    {% endif %}
    {% if request.user.role == 'postmaster' or 'mail' in enabled_services %}
    <li id="mail-links" class="menu-primary__item {% if not active_section|startswith:'mails' %}collapsed{% endif %}">
        <label class="menu-primary__item-label" data-toggle="mail-links" data-excluded="menu-primary__item">
            <i class="fa fa-envelope"></i> {% trans 'Correos' %}
        </label>
        <ul class="menu-primary__submenu">
          <a href="{% url 'mails' %}">
            <li class="menu-primary__submenu-item {% if active_section == 'mails' %}active{% endif %}">
                {% trans 'Cuentas de correo' %}
            </li>
          </a>
            {% if 'snappymail' in enabled_services %}
            <a href="/webmail" target="_blank">
            <li class="menu-primary__submenu-item">
                    {% trans 'Webmail' %}
            </li>
            </a>
            {% endif %}
        </ul>
    </li>
    {% endif %}
    {% if request.user.role == 'admin' %}
    <li id="user-links" class="menu-primary__item {% if not active_section|startswith:'users' %}collapsed{% endif %}">
        <label class="menu-primary__item-label" data-toggle="user-links" data-excluded="menu-primary__item">
            <i class="fa fa-users"></i> {% trans 'Usuarixs' %}
        </label>
        <ul class="menu-primary__submenu">
          <a href="{% url 'users' %}">
            <li class="menu-primary__submenu-item {% if active_section == 'users' %}active{% endif %}">
              {% trans 'Cuentas Ordinarias' %}
            </li>
          </a>
          <a href="{% url 'superuser' %}">
            <li class="menu-primary__submenu-item {% if active_section == 'userssuperuseredit' %}active{% endif %}">
                {% trans 'Superusuarix' %}
            </li>
          </a>
          <a href="{% url 'postmasters' %}">
            <li class="menu-primary__submenu-item {% if active_section == 'userspostmasters' %}active{% endif %}">
                {% trans 'Postmasters' %}
            </li>
          </a>
        </ul>
    </li>
    {% endif %}
    {% if request.user.role == 'admin' %}
          <a href="{% url 'notifications' %}">
        <li class="menu-primary__item not-collapsible {% if active_section == 'notifications' %}active{% endif %}">
          <i class="fa fa-mail-forward"></i> {% trans 'Notificaciones' %}
      </li>
    </a>
    <a href="{% url 'trash' %}">
      <li class="menu-primary__item not-collapsible {% if active_section == 'trash' %}active{% endif %}">
        <i class="fa fa-trash"></i> {% trans 'Papelera' %}
      </li>
    </a>

    {% endif %}
    {% if request.user.role != 'email' %}
    <a href="https://docs.maadix.net/" target="_blank">
        <li class="menu-primary__item not-collapsible {% if not active_section|startswith:'docs' %}collapsed{% endif %}">
            <i class="fa fa-book"></i> {% trans 'Documentación' %}
        </li>
    </a>
    {% endif %}
</ul>
