{# notifications menu #}
{% load i18n templatetags %}

<div class="menu-notifications">
    <span class="menu-notifications__trigger fa fa-bell-o" data-toggle="menu-notifications-links"></span>
    <span class="menu-notifications__number">
        {{ notifications_number }}
    </span>
    <ul id="menu-notifications-links" class="menu-notifications__items collapsed">
        {% if system_reboot %}
        <li class="menu-notifications__item reboot">
            <a href="{% url 'reboot' %}">
                <i class="fa fa-power-off"></i>
                {% trans 'El sistema necesita ser reiniciado' %}
            </a>
        </li>
        {% endif %}
        {% if system_update %}
        <li class="menu-notifications__item update">
            <a href="{% url 'update' %}">
                <i class="fa fa-refresh"></i>
                {% trans 'Hay una actualización del sistema disponible' %}
            </a>
        </li>
        {% endif %}
    </ul>
</div>
