{# Domains overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--services{% endblock %}
{% block page_html_title %}Settings{% endblock %}

{% block main %}
<h1 class="page__title--services">
    {% trans 'Configuración de instalación de la aplicación ' %}{{ appname }}
</h1>
<div class="page__subtitle--services">
    {% trans 'Edita parámetros de instalación' %}
</div>

<div class="page__content--services">
    <div class="page__content-left__services">
    {% if maintenance %}
        <div class="page__section--service error">
           <p>{% trans 'Los parámetros de instalación no se pueden modificar, debido a una tarea de mantenimiento pendiente' %}</p>
           <p>{% trans 'Actualiza antes el sistema para poder cambiar la configuración: ' %} <a class="" href="{%     url 'update' %}">{% trans 'Actualizar' %}</a></p>
        </div>
    {% endif %}
    <form class="form-update-app form--{{ applciation_id }} default" method="post">
      <p class="form__help-text">{%trans 'Puedes editar la configuración de la aplicación, modificando los siguientes parámetros' %}</p>
        {% csrf_token %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <ul class="errorlist">
                <li class="errorlist__item">
                    {{ error }}
                </li>
            </ul>
            {% endfor %}
        {% endif %}
        {% for field in form %}
            <div class="field field--{{ field.name }} {% if classes %}{{ classes }}{% endif %}">
                <label class="field__label {% if field.field.required %}required{% endif %}" for="{{ field.name }}">
                    {{ field.label }}
                </label>
                {% if field.help_text %}
                    <div class="field__helptext">
                        {{ field.help_text | safe }}
                    </div>
                {% endif %}
                {{ field }}
                {%if field.name == 'password'%}
                  <i class="fa fa-eye left" data-togglepass="password"></i>  
                {% endif %}
                {% if field.errors %}
                    <div class="field__errors">
                         {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <button class="form__submit" type="submit">{% trans 'Guardar' %}</button>
        {% if show_modal %}
            {% include 'ldapobj/blocks/modal-services.html' %}
        {% endif %}
    </form>
  </div>
  <div class="page__content-right__services">
    {% if dkim %}
    <div class="page__instructions--service">
      {%blocktrans %}
      La aplicación puede enviar correos utilizando el dominio de la instalación. 
      Para mejorar la entrega, añade los registros DKIM y SPF a las entradas DNS del dominio. 
      Sin estos registros, los correos podrían acabar en la carpeta de no deseados o, 
      en el peor de los casos, ser rechazados.
      {% endblocktrans %}
      <ul class="mail-configuration">
        <h4>{% trans 'Registro Dkim ' %} </h4>
        <li><label>{% trans 'Tipo' %}:</label> TXT </li>
        <li><label>{% trans 'Nombre' %}:</label> default._domainkey.{{domain}}</li>
        <li><label>{% trans 'Valor' %}:</label> {{ dkim }}</li>

        <h4>{% trans 'Registro SPF' %} </h4>
        <li><label>{% trans 'Tipo' %}:</label> TXT </li>
        <li><label>{% trans 'Nombre' %}:</label> {{domain}}</li>
        <li><label>{% trans 'Valor' %}:</label> "v=spf1 mx a: {{ fqdn }} ~all" </li>
      </ul>

    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
