{# Domains overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--services-install{% endblock %}
{% block page_html_title %}{% trans 'Instala servicios' %}{% endblock %}

{% block main %}
<h1 class="page__title--services-install">
    {% trans 'Aplicaciones disponibles' %}
</h1>
<div class="page__subtitle--services-install">
    {% blocktrans trimmed %}
    Selecciona las aplicaciones que quieras instalar y haz clic en el botón 'Instalar'
    para empezar el proceso de instalación
    {% endblocktrans %}
    {{ lang }}
</div>
<div class="page__content--services-install">
    {% if maintenance or no_updates or all_installed %}
	  <div class="page__wide-content-left--services-install">
        <div class="no-services page__section--warning">
            <h3 class="no-services__title">
                {% if maintenance %}
                    {% trans 'Hay una tarea de mantenimiento pendiente' %}
                {% else %}
                    {% trans 'No hay ninguna aplicación disponible' %}
                {% endif %}
            </h3>
            <div class="no-services__info">
                {% if maintenance %}
                <p>{% trans 'En este momento no se pueden instalar nuevas aplicaciones.' %}</p>
                <p>{% trans 'Actualiza antes el sistema para poder instalar nuevas aplicaciones: ' %} <a href="{% url 'update' %}">{% trans 'Actualizar' %}</a></p>
                {% elif all_installed %}
                <p>{% trans 'Todas las aplicaciones disponibles ya están instaladas.' %}</p>
                {% else %}
                <p>{% trans 'En este momento no se pueden instalar nuevas aplicaciones.' %}</p>
                {% endif %}
            </div>
        </div>
	  </div>
    {% else %}
    {{ form.non_field_errors }}
    <form class="form--appiinstall default" method="post">
        {% csrf_token %}
        <div class="page__wide-content-left--services-install">
            <div class="view-services--grid">
                {% for service in available %}
                    {% include 'ldapobj/views/service-grid--installnew.html' with service=service errors=response_data%}
                {% endfor %}
            </div>
        </div>
        <div class="page__wide-content-right--services-install">
        {% if not maintenance and not no_updates %}
            <button class="services-button" type="submit">
               {% trans 'Instalar' %}
            </button>
        {% endif %}
        </div>
        {% if show_modal %}
            {% include 'ldapobj/blocks/modal-install.html' %}
        {% endif %}
    </form>
    {% endif %}
</div>
{% endblock %}

{% block page_scripts %}
    <script type="text/javascript" src="{% js 'services-install.js' %}"></script>
{% endblock %}

