{# Domains overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--domains-instructions{% endblock %}
{% block page_html_title %}{% trans 'Instrucciones sobre dominios' %}{% endblock %}

{% block main %}
<h1 class="page__title--domains-instructions">
    {% trans 'Instrucciones para configurar dominios' %}
</h1>
<div class="page__subtitle--domains-instructions">
    {% trans 'Aprende a configurar correctamente tus dominios' %}
</div>
<div class="page__content--domains-instructions">
    <div class="page__wide-content-right--domains-instructions">
    </div>
    <div class="page__wide-content-left--domains-instructions">
        <div class="page__section--domains-instructions">
            {% get_server_ip as ip %}
            <h3>{% trans 'Páginas web' %}</h3>
            <h4>{% trans 'Registro de tipo A' %}</h4>
            <p>
            {% blocktrans %}
            Para que una página web esté disponible visitando tu dominio desde un navegador,
            es necesario que el valor del registro A de los DNS del dominio sea el mismo que la IP de este servidor.
            {% endblocktrans %}
            </p>
            <p><strong>{% trans 'IP de este servidor: ' %}{{ ip }}</strong></p>
            <p>
            {% blocktrans %}
            Si cuando añades un dominio no hay coincidencia entre los dos valores,
            el sistema te permitirá igualmente llevar a cabo la operación, pero no creará
            la configuración interna necesaria para que una página web sea accesible a
            través de este dominio.
            {% endblocktrans %}
            </p>
            <p>
            {% blocktrans %}
            Periódicamente, el sistema preguntará si existe esta coincidencia, y en
            cuanto reciba una respuesta afirmativa creará la configuración necesaria y
            podrás visitar tu aplicación web a través del dominio.
            {% endblocktrans %}
            </p>
        </div>
        <div class="page__section--domains-instructions">
            {% get_server_host as hostname %}
            <h3>{% trans 'Servidor de correo' %}</h3>
            <p>
            {% blocktrans %}
            La configuración de DNS para el servicio de correo electrónico es
            más compleja que la anterior, e implica la activación de más de un registro
            para un correcto funcionamiento. Algunos de estos registros son opcionales,
            pero su ausencia podría provocar que tus correos fueran tratados como spam.
            Los registros que tendrás que configurar son 3:
            {% endblocktrans %}
            </p>
            <ul>
                <li>MX</li>
                <li>SPF</li>
                <li>DKIM</li>
            </ul>
            <h4>{% trans 'Registro de tipo MX' %}</h4>
            <p>
            {% blocktrans %}
            Este registro es estrictamente indispensable. Para que el correo
            electrónico sea gestionado por tu servidor y no por otro servicio externo,
            el valor del registro MX de los DNS de tu dominio o subdominio tendrá que
            ser el mismo que el nombre de ese equipo: 
            {% endblocktrans %}
            <strong>{{ hostname }}</strong>.
            {% trans 'Algunos proveedores de dominio pueden necesitar que añadas un punto después del valor.' %}
            </p>
            <h5>{% trans 'Ejemplos de registros MX para dominio example.com y subdominio sub.example.com' %}</h5>
            <table>
                <thead>
                  <tr><th>{% trans 'Tipo' %}</th><th>{% trans 'Nombre' %}</th><th>{% trans 'Valor' %}</th><th>{% trans 'Prioridad' %}</th></tr>
                </thead>
                <tbody>
                    <tr><td>MX</td><td>@</td><td>example.com</td><td>10</td>
                    <tr><td>MX</td><td>sub</td><td>example.com</td><td>10</td>
                </tbody>
            </table>
            <h5>
              {% blocktrans trimmed%}
              Ejemplos de registros MX para dominio example.com y subdominio sub.example.com
            en texto <br/> (para proveedores que no proporcionan formulario)
            {% endblocktrans %}
            </h5>
            <pre><code>
                @ 10800 IN MX 10 example.com 
                sub 10800 IN MX 10 example.com
            </code></pre>
            <h4>{% trans 'Registro de tipo SPF' %} (<em>Sender Policy Framework</em>)</h4>
            <p>
            {% blocktrans %}
            SPF es un registro de tipo TXT que especifica
            qué servidores pueden enviar correo electrónico en nombre de tu dominio.
            Los proveedores de correo electrónico requieren a menudo registros de SPF válidos.
            Un registro SPF ausente o incorrecto puede provocar que tu correo electrónico
            sea enviado a la carpeta de correo no deseado. Algunos operadores podrían
            incluso bloquear tus correos por completo. Para evitar estos problemas,
            tendrás que añadir el siguiente registro de tipo TXT a cada dominio que
            quieras utilizar para crear cuentas de correo electrónico:
            {% endblocktrans %}
            </p>
            <pre><code>
                TXT    "v=spf1 mx ip4:{{ ip }} a:{{ hostname }} ~all"
            </code></pre>
            <h4 id="dkim">{% trans 'Registro DKIM' %} (<em>DomainKeys Identified Mail</em>)</h4>
            <p>
            {% blocktrans %}
            El objetivo de DKIM es asegurar que un mensaje enviado por example.com
            sea realmente de example.com. Para ello, DKIM agrega automáticamente una
            firma digital a cada mensaje. Esta firma se basa en una clave privada
            conocida únicamente por el servidor que envía el correo. El servidor
            que lo recibe puede utilizar la clave pública (incluida en el registro
            DKIM de los DNS) para decodificar la firma y asegurarse de que el mensaje
            no ha sido alterado. Aunque el propósito inicial era la seguridad muchos operadores,
            incluyendo Gmail, Yahoo y otros, usan la información de DKIM para validar
            la calidad y la autenticidad del mensaje. Si la firma DKIM falla,
            existe una probabilidad muy alta de que el mensaje sea enviado a la carpeta de spam.
            {% endblocktrans %} 
            </p>
            <p>
            {% blocktrans %}
            Vista la complejidad de su configuración, es mejor asegurarse de que se ha insertado
            correctamente su valor en los DNS ya que, al igual que pasa los registros SPF,
            es mejor no tener ningún registro DKIM que tener uno incorrecto.
            {% endblocktrans %}
            </p>
            <p>{% blocktrans %}
            Para comprobar si el registro DKIM que has creado para los DNS de tu dominio
            es correcto puedes usar la siguiente página, introduciendo el nombre de tu
            dominio + :default y seleccionando DKIM Lookup desde el desplegable:
            {% endblocktrans %}
            <a href="https://mxtoolbox.com/SuperTool.aspx">https://mxtoolbox.com/SuperTool.aspx</a>.
            {% trans 'Si tu dominio fuera example.com, deberías insertar ' %}<i>example.com:default</i>.
            <p>
            {% blocktrans %}
            Lamentablemente, este tipo de registro tiene una sintaxis diferente
            dependiendo del proveedor con el que tengas contratado el dominio. Aquí
            hay algunos ejemplos de sintaxis válidas para DKIM. Tendrás que probar
            hasta encontrar la correcta para tu proveedor, o bien contactar con ellos
            para que te guíen. El valor de la cadena de caracteres p=... es la clave pública, y
            cambia para cada dominio. Encontrarás la cadena correcta en la sección de DNS
            correspondiente a tu dominio o subdominio de este panel de control.
            {% endblocktrans %}
            </p>
            <h5>{% trans 'Ejemplos de registros DKIM para dominio example.com '%}
              <br/>{% trans '(Nota la presencia o no de las comillas en el campo Value. En algunos proveedores son necesarias, mientras que en otros no)' %}
            </h5>
            <table>
                <thead>
                  <tr><th>{% trans 'Tipo' %}</th><th>{% trans 'Nombre' %}</th><th>{% trans 'Valor' %}</th></tr>
                </thead>
                <tbody>
                    <tr><td>TXT</td><td>default._domainkey</td><td>"v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDZTroWVFpkfXklFulqg8pdg/cWS+ORgoi1x97l5NyqlqL7R1qazoIVQ63TYUS8yjxU87z4FAr/zb/+p2ayk+wVqXA7twWLuHPhEHdiBQM5cEbaPX/Q3fMYULTPkmuVLA/aAcNUr3xagyNfpOzUmUAvJfOfozaSik9/ZmHRFFvzdwIDAQAB"</td>
                    <tr><td>TXT</td><td>default._domainkey</td><td>"v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDZTroWVFpkfXklFulqg8pdg/cWS+ORgoi1x97l5NyqlqL7R1qazoIVQ63TYUS8yjxU87z4FAr/zb/+p2ayk+wVqXA7twWLuHPhEHdiBQM5cEbaPX/Q3fMYULTPkmuVLA/aAcNUr3xagyNfpOzUmUAvJfOfozaSik9/ZmHRFFvzdwIDAQAB"</td>
                    <tr><td>TXT</td><td>default._domainkey.example.com</td><td>"v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDZTroWVFpkfXklFulqg8pdg/cWS+ORgoi1x97l5NyqlqL7R1qazoIVQ63TYUS8yjxU87z4FAr/zb/+p2ayk+wVqXA7twWLuHPhEHdiBQM5cEbaPX/Q3fMYULTPkmuVLA/aAcNUr3xagyNfpOzUmUAvJfOfozaSik9/ZmHRFFvzdwIDAQAB"</td>
                    <tr><td>TXT</td><td>default._domainkey.example.com</td><td>"v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDZTroWVFpkfXklFulqg8pdg/cWS+ORgoi1x97l5NyqlqL7R1qazoIVQ63TYUS8yjxU87z4FAr/zb/+p2ayk+wVqXA7twWLuHPhEHdiBQM5cEbaPX/Q3fMYULTPkmuVLA/aAcNUr3xagyNfpOzUmUAvJfOfozaSik9/ZmHRFFvzdwIDAQAB"</td>
                </tbody>
            </table>
            <h5>{% trans 'Ejemplos de registros DKIM para dominio example.com en texto' %}
              {% trans '(para proveedores que no proporcionan formulario)' %}</h5>
            <pre><code>
              default._domainkey 10800 IN TXT    "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDZTroWVFpkfXklFulqg8pdg/cWS+ORgoi1x97l5NyqlqL7R1qazoIVQ63TYUS8yjxU87z4FAr/zb/+p2ayk+wVqXA7twWLuHPhEHdiBQM5cEbaPX/Q3fMYULTPkmuVLA/aAcNUr3xagyNfpOzUmUAvJfOfozaSik9/ZmHRFFvzdwIDAQAB"
              default._domainkey.example.com. 10800 IN TXT    "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDZTroWVFpkfXklFulqg8pdg/cWS+ORgoi1x97l5NyqlqL7R1qazoIVQ63TYUS8yjxU87z4FAr/zb/+p2ayk+wVqXA7twWLuHPhEHdiBQM5cEbaPX/Q3fMYULTPkmuVLA/aAcNUr3xagyNfpOzUmUAvJfOfozaSik9/ZmHRFFvzdwIDAQAB"
            </pre></code>
            <h5>{% trans 'Ejemplos de registros DKIM para subdominio sub.example.com ' %}<br/>
              {% trans '(Nota la presencia o no de las comillas en el campo Value. En algunos proveedores son necesarias, mientras que en otros no)' %}
            </h5>
            <table>
                <thead>
                  <tr><th>{% trans 'Tipo' %}</th><th>{% trans 'Nombre' %}</th><th>{% trans 'Valor' %}</th></tr>
                </thead>
                <tbody>
                    <tr><td>TXT</td><td>default._domainkey.sub</td><td>"v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDZTroWVFpkfXklFulqg8pdg/cWS+ORgoi1x97l5NyqlqL7R1qazoIVQ63TYUS8yjxU87z4FAr/zb/+p2ayk+wVqXA7twWLuHPhEHdiBQM5cEbaPX/Q3fMYULTPkmuVLA/aAcNUr3xagyNfpOzUmUAvJfOfozaSik9/ZmHRFFvzdwIDAQAB"</td>
                    <tr><td>TXT</td><td>default._domainkey.sub</td><td>"v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDZTroWVFpkfXklFulqg8pdg/cWS+ORgoi1x97l5NyqlqL7R1qazoIVQ63TYUS8yjxU87z4FAr/zb/+p2ayk+wVqXA7twWLuHPhEHdiBQM5cEbaPX/Q3fMYULTPkmuVLA/aAcNUr3xagyNfpOzUmUAvJfOfozaSik9/ZmHRFFvzdwIDAQAB"</td>
                    <tr><td>TXT</td><td>default._domainkey.sub.example.com</td><td>"v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDZTroWVFpkfXklFulqg8pdg/cWS+ORgoi1x97l5NyqlqL7R1qazoIVQ63TYUS8yjxU87z4FAr/zb/+p2ayk+wVqXA7twWLuHPhEHdiBQM5cEbaPX/Q3fMYULTPkmuVLA/aAcNUr3xagyNfpOzUmUAvJfOfozaSik9/ZmHRFFvzdwIDAQAB"</td>
                    <tr><td>TXT</td><td>default._domainkey.sub.example.com</td><td>"v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDZTroWVFpkfXklFulqg8pdg/cWS+ORgoi1x97l5NyqlqL7R1qazoIVQ63TYUS8yjxU87z4FAr/zb/+p2ayk+wVqXA7twWLuHPhEHdiBQM5cEbaPX/Q3fMYULTPkmuVLA/aAcNUr3xagyNfpOzUmUAvJfOfozaSik9/ZmHRFFvzdwIDAQAB"</td>
                </tbody>
            </table>
            <h5>{% trans 'Ejemplos de registros DKIM para subdominio sub.example.com en texto' %} <br/>
              {% trans '(para proveedores que no proporcionan formulario)' %}</h5>
            <pre><code>
              default._domainkey.sub 10800 IN TXT    "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDZTroWVFpkfXklFulqg8pdg/cWS+ORgoi1x97l5NyqlqL7R1qazoIVQ63TYUS8yjxU87z4FAr/zb/+p2ayk+wVqXA7twWLuHPhEHdiBQM5cEbaPX/Q3fMYULTPkmuVLA/aAcNUr3xagyNfpOzUmUAvJfOfozaSik9/ZmHRFFvzdwIDAQAB"
              default._domainkey.sub.example.com. 10800 IN TXT    "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDZTroWVFpkfXklFulqg8pdg/cWS+ORgoi1x97l5NyqlqL7R1qazoIVQ63TYUS8yjxU87z4FAr/zb/+p2ayk+wVqXA7twWLuHPhEHdiBQM5cEbaPX/Q3fMYULTPkmuVLA/aAcNUr3xagyNfpOzUmUAvJfOfozaSik9/ZmHRFFvzdwIDAQAB"
            </pre></code>
        </div>
    </div>
</div>
{% endblock %}
