{# Users overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% load render_table from django_tables2 %}
{% block body_classes %}page--domains{% endblock %}
{% block page_html_title %}{% trans 'Dominios' %}{% endblock %}
{% block main %}
<h1 class="page__title--users">
    {% trans 'Dominios' %}
</h1>
<div class="page__subtitle--domains">
    {% trans 'Aquí puedes ver, editar, crear y eliminar dominios.' %}
</div>
<div class="page__content--domains">
  <div class="page__wide-content-right--domains">
     <a class="services-button" href="{% url 'domains-add' %}">
        {% trans 'Añadir un dominio' %}
     </a>
  </div>
  <div class="page__wide-content-left--domains">
  {% if domains_module == 'error' %}
    <form class="default" method="POST">
      {% csrf_token %}
      <ul class="errorlist nonfield">
        <li>
          {% trans 'Una operación previa ha generado un error. Reanúdala para poder eliminar cuentas' %}
        </li>
      </ul>
      <button class="modal__submit--genericlock confirm" type="submit" name="lockdomains">
        {% trans 'Reanudar Proceso' %}
      </button>
    </form>
  {% endif %}
     <form class="navbar-form row g-2" method="get" action="{% url 'domains' %}">
      {% csrf_token %}
        <!-- avoid CSRF verification failed error. -->
        <div class="form-group col-auto">
          <input name="q" type="text" placeholder="{%trans 'Dominio' %}" class="form-control" value="{{ request.GET.q }}">
       </div>
      <div class="col-auto"> 
          <button type="submit" class="btn btn-outline-secondary">{% trans 'Buscar' %}</button>
      </div>
     </form>
    <form id="changelist-form" class="row g-2 my-3" method="POST">
    {% csrf_token %}
      <div class="actions col-auto"> 
        <select class="form-select form-select-sm" name="action" aria-label="{% trans 'Opciones' %}">
            <option value="delete_selected">{%trans 'Eliminar dominios seleccionados' %}</option>
        </select> 
        </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-danger btn-sm" title="{% trans 'Ejecutar acción seleccionada' %}" name="delete-items" value="0">{%trans 'Ir' %}</button>
      </div>
    <div class="table-responsive domain--grid">
      {% render_table table %}
    </div>
   </form>
  </div>
</div>
{% endblock %}

