{# Form to edit a domain #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--domain{% endblock %}
{% block page_html_title %}{% trans 'Editar dominio' %}{% endblock %}

{% block main %}
{% fake_breadcrumb %}
<h1 class="page__title--domain">
    {% trans 'Editar dominio' %}
</h1>
<div class="page__subtitle--domain">
    {% trans 'Parámetros de configuración ' %}
</div>
<div class="page__content--domain">
    <div class="page__content-left--domain">
        <h3>{{ object.name }}</h3>
        <form class="default" method="POST">
			{% csrf_token %}
			{{ form.as_div }}
			{% if domains_module == 'error' %}
			<ul class="errorlist nonfield">
				<li>
				{% trans 'Una operación previa ha generado un error. Reanúdala para poder seguir editando dominios' %}
				</li>
			  </ul>
			<button class="form__submit" type="submit" name="writeldap">
			  {% trans 'Reanudar Proceso' %}
			</button>
			{% else %}
          	<button class="form__submit" type="submit">{% trans 'Guardar' %}</button>
			{% endif %}
        </form>
    </div>
</div>
{% endblock %}
