{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %} 
{% block body_classes %}page--user{% endblock %}
{% block page_html_title %}{% trans 'Editar' %}{% endblock %}

{% block main %}
<h1 class="page__title--user">
    {% trans 'Editar cuenta' %} {{ userobj.username }}
</h1> 
<div class="page__subtitle--user">
    {% trans 'Aquí puedes ver y editar cuentas de usuarix.' %}
</div>

<div class="page__content--user">

    <div class="page__content-left--user">
      <div class="user--list">
        <div class="field user__name--list">
          <div class="field__label inline">
            {% trans 'Usuarix' %}
          </div>
          <div class="field__value inline">
             {{ userobj.username }}
         </div>
        </div>
        <div class="field user__domain--list">
          <div class="field__label inline">
               {% trans 'Dominios' %}
          </div>
          <div class="field__value inline">
            {% if userobj.is_webmaster %}
              {% for d in userobj.is_webmaster %}
              <span class="list">{{ d }} </span>
               {% endfor %}
            {% else %}
            {% trans ' No hay dominios mantenidos por esta cuenta ' %}
            {% endif %}
          </div>
        </div>
        {% if type %}
        <div class="field user__type--list">
          <div class="field__label inline">
               {% trans 'Tipo de cuenta ' %}
          </div>
          <div class="field__value inline">
            {{ type }}
          </div>
        </div>
        {% endif %}
      </div>
          {% default_form form=form modifier='userobj' %}
    </div>
</div>
{% endblock %}

