{# Frontpage #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--phpfpm{% endblock %}
{% block page_html_title %}{% trans 'Configuración de php' %}{% endblock %}

{% block main %}
<h1 class="page__title--unban">
    {% trans 'Configurar procesos de php' %}
</h1>
<div class="page__subtitle--unban">
    {% trans 'Asigna pools y procesos hijos a tu configuración de php' %}
</div>
<div class="page__content--unban">
    <div class="page__wide-content-left--notifications">
       <form class="form--unban default" method="post">
         {% csrf_token %}
         <p>
        {% blocktrans trimmed %}
            Puedes activar el uso de diferentes procesos de php por cada web.
            Esto incrementa tanto el rendimiento del servidor web como la seguridad 
            ya que cada proceso se ejecutaría de forma aislada utilizando un usuario diferente.
             
        {% endblocktrans %}
        </p>
         <p>
        {% blocktrans trimmed %}
            De esta forma el usuario de una aplicación php no será capaz de leer o escribir archivos
            de otra aplicación, limitando así los riesgos en el caso de que una
            de ellas se viera comprometida.
        {% endblocktrans %}
         </p>
         <div class="page__section--phpfpm">
           <p>{%trans 'Puedes crear pools (procesos de php) a los que podrás luego asignar aplicaciones php que tengas instaladas manualmente. Una vez creados los pools podrás acceder a la edición de cada dominio para asignarle el pool que desees.' %}</p>
          <p>{%trans 'Las aplicaciones Php instaladas desde el panel de control (Nextcloud, Owncloud, Limesurvey etc)  ya se configuran de forma automática para que utilicen un pool separado de las otras.' %}</p>
         </div>
        <div class="page__section--phpfpm">
            {% if existing_pools > 0 %}
              {% include 'ldapobj/views/phpfmp--table.html' with form=form %}
            {% endif %}
          <button class="form__submit--unban" type="submit" name="editools">
            {% trans 'Guardar' %}
          </button>
          {% if show_modal %}
            {% include 'ldapobj/blocks/modal-genericlock.html' %}
          {% endif %}
        </diV>
      </form>
      <div class="page__section--phpfpm">
      <h3>{% trans 'Crear nuevos Pools' %}</h3>
      <p>{%trans 'Pools disponibles para añadir: ' %}{{allowed_pools}}</p>
       <form class="form--unban default" method="post">
         {% csrf_token %}
          {{ formAddPools }}
        <div class="page__section--fields">
        <button class="form__submit" type="submit" name="addpools">
          {% trans 'Añadir' %}
        </button>
        </div>
          {% if show_modal_add %}
            {% include 'ldapobj/blocks/modal-multi-genericlock.html' %}
          {% endif %}
      </form>
    </div>
</div>
{% endblock %}
