{# Users overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% load render_table from django_tables2 %}
{% block body_classes %}page--users{% endblock %}
{% block page_html_title %}{% trans 'Usuarixs ordinarixs' %}{% endblock %}
{% block main %}
<h1 class="page__title--users">
    {% trans 'Usuarixs' %}
</h1>
<div class="page__subtitle--users">
    {% trans 'Aquí puedes ver y editar cuentas Postmaster.' %}
</div>
<div class="page__content--users">
  <div class="page__wide-content-left--users">
  {% if domains_module == 'error' %}
    <form class="default" method="POST">
      {% csrf_token %}
      <ul class="errorlist nonfield">
        <li>
          {% trans 'Una operación previa ha generado un error. Reanúdala para poder eliminar cuentas' %}
        </li>
      </ul>
      <button class="modal__submit--genericlock confirm" type="submit" name="lockdomains">
        {% trans 'Reanudar Proceso' %}
      </button>
    </form>
  {% endif %}
     <form class="navbar-form row g-2" method="get" action="{% url 'users' %}">
      {% csrf_token %}         
        <!-- avoid CSRF verification failed error. -->
        <div class="form-group col-auto">
          <input name="q" type="text" placeholder="{%trans 'Buscar' %}" class="form-control" value="{{ request.GET.q }}">
       </div>
       <div class="col-auto"> 
         <button type="submit" class="btn btn-outline-secondary">{% trans 'Buscar' %}</button>
       </div>
    </form>
    {% render_table table %}
  </div>
</div>
{% endblock %}

