{# Users overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--postmaster{% endblock %}
{% block page_html_title %}{% trans 'Editar Postmaster' %}{% endblock %}

{% block main %}
<h1 class="page__title--postmaster">
    {% trans 'Editar cuenta Postmaster' %}
</h1>
<div class="page__subtitle--postmaster">
    {% trans 'Aquí puedes resetear la contraseña de las cuentas de tipo Postmaster.' %}
</div>

<div class="page__content--postmaster">
    <div class="page__content-left--postmaster">
      <div class="user--list">
        <div class="field user__perms--list">
          <div class="field__label inline">
            {% trans 'Permisos' %}
          </div>
          <div class="field__value inline">
            <p>{%trans 'Esta cuenta puede acceder al panel de control para editar, crear y borrar cuentas de correo electrónico para el dominio ' %} {{ object.domain }} </p>
          </div>
        </div>
        <div class="field user__name--list">
          <div class="field__label inline">
            {% trans 'Usuarix' %}
          </div>
          <div class="field__value inline">
             {{ object.mail}}
         </div>
        </div>
        <div class="field user__domain--list">
          <div class="field__label inline">
               {% trans 'Dominio' %}
          </div>
          <div class="field__value inline">
		{{ object.domain }}
          </div>
        </div>
      </div>

        {% default_form form=form modifier='postmaster' %}
    </div>
</div>
{% endblock %}
