{# Domains overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--reboot{% endblock %}
{% block page_html_title %}{% trans 'Reiniciar el servidor' %}{% endblock %}

{% block main %}
<h1 class="page__title--reboot">
    {% trans 'Reiniciar el servidor' %}
</h1>
<div class="page__subtitle--reboot">
    {% trans 'En esta página puedes reiniciar el servidor.' %}
</div>
<div class="page__content--reboot">
    <div class="page__content-left--reboot">
        <div class="reboot-text">
            <h3>{% trans 'Reiniciar el servidor' %}</h3>
            {% if system_reboot %}
             <p>{% trans 'El sistema necesita ser reiniciado. Esto es necesario para poder cargar ciertos paquetes y/o un nuevo kernel que se han descargado con las actualizaciones de seguridad automáticas (Unattended Upgrades) y que el sistema no puede cargar hasta que no se reinicie. Encuentras más detalles en el archivo /var/run/reboot-required' %}</p>
            {% else %}
            <p>{% trans 'En esta página puedes reiniciar el servidor.' %}</p>
            {% endif %}
            <p>{% trans 'El proceso de reinicio tardará unos segundos durante los cuales los servicios no estarán disponibles. '%}</p>
            <button class="reboot-button" data-launch-modal="#modal-reboot">
                {% trans 'Reiniciar' %}
            </button>
        </div>
    </div>
    {% include 'ldapobj/blocks/modal-reboot.html' %}
</div>
{% endblock %}
