{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--system-config{% endblock %}
{% block page_html_title %}{% trans 'Configuraciones avanzadas de sistema' %}{% endblock %}

{% block main %}
<h1 class="page__title--system-config">
    {% trans 'Configurar el sistema' %}
</h1>
<div class="page__subtitle--system-config">
    {% trans 'Configuraciones avanzadas de seguridad del sistema' %}
</div>
<div class="page__content--system-config">
    <div class="page__wide-content-left--system-config">
      {% if maintenance %}
        <div class="page__section--system-config">
          <h3>{% trans 'Hay una tarea de mantenimiento pendiente' %}</h3>
          <p>{% trans 'Actualiza antes el sistema para poder proceder con las configuraciones:' %}</p>
          <a class="" href="{% url 'update' %}">{% trans 'Actualizar' %}</a>
        </div>
      {% else %}
      <form class="form--system-config default" method="post">
          <h3>{% trans 'Rkhunter (Rootkit Hunter)' %}</h3>
          <label>{% trans ' ' %}</label>
            <p class="form__help-text">
            {% trans 'La herramienta rkhunter comprueba el estado del sistema comparando archivos, permisos, y otras propiedades para detectar la presencia de posible Rootkits, puertas traseras u otros malwares.' %}
            </p>
            <p class="form__help-text">
            {% trans 'Puede ocurrir que algunos cambios legítimos que se hayan aplicado al sistema sean detectado por rkhunter como anómalos. Esto provoca que rkhunter genere una alerta que se envía por correo.' %}
          </p>
          <p class="form__help-text">
            {% trans 'La siguiente funcionalidad te permite confirmar que los cambios marcados como suspechosos por rkhunter son legítimos, informando a la herramienta que deje de enviar las alertas correspondientes.' %}
          </p>
          <p class="form__help-text">
            {% trans 'Rkhunter informa si un archivo ha cambiado, pero no sobre lo que ha causado el cambio, así que antes de hacer clic en el botón "Resetar", revisa las alertas que rkhunter envía por correo para comprobar que los cambios que se han generado en el sistema corresponden a alguna instalación o configuración que hayas llevado a cabo previamente.' %}
            </p>
          <p class="form__help-text">
          {% trans 'Puedes encontrar más información en esta página: <a href="https://docs.maadix.net/security/#rkhunter" target="_blank">+ info</a>'%}
            <p class="form__help-text">
            {% if  rkhunter == 'ready' %}

            {% trans 'Haz clic en el botón "Resetear" para aprobar los cambios y silenciar las alertas ' %}
            </p>
              <button class="submit--confirm" type="reset" data-launch-modal="#modal-rkhunter">{% trans 'Resetear'%}</button>
            {% else %}
            <p class="form__help-text">
            <div class="form__help-text page__section--system-config error">
              {% trans 'Parece que hay otro proceso de reset en curso.'%}
              {% trans 'Para lanzarlo otra vez vuelve a visitar esta página pasados unos minutos' %}
            </div>
            </p>
            {% endif %}
        </form>

           {% include 'ldapobj/blocks/modal-rkhunter.html' %}

      {% endif %}
    </div>
</div>
{% endblock %}
