{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--system-config{% endblock %}
{% block page_html_title %}{% trans 'Configuraciones avanzadas de sistema' %}{% endblock %}

{% block main %}
<h1 class="page__title--system-config">
    {% trans 'Configurar el sistema' %}
</h1>
<div class="page__subtitle--system-config">
    {% trans 'Configuraciones avanzadas de seguridad del sistema' %}
</div>
<div class="page__content--system-config">
    <div class="page__wide-content-left--system-config">
      {% if maintenance %}
        <div class="page__section--system-config">
          <h3>{% trans 'Hay una tarea de mantenimiento pendiente' %}</h3>
          <p>{% trans 'Actualiza antes el sistema para poder proceder con las configuraciones:' %}</p>
          <a class="" href="{% url 'update' %}">{% trans 'Actualizar' %}</a>
        </div>
      {% else %}
      <form class="form--system-config default" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <h3>{{ subtitle }}</h3>
          {{ form.as_p }}
          <button class="form__submit--config submit--confirm" type="submit">{% trans 'Guardar' %}</button>
           {% if show_modal %}
              {% include 'ldapobj/locks/modal-genericlock.html' %}
           {% endif %}
      </form>

    {% endif %}
    </div>
</div>
{% endblock %}
