{# Domains overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% load render_table from django_tables2 %}
{% block body_classes %}page--trass{% endblock %}
{% block page_html_title %}Trash{% endblock %}

{% block main %}
<h1 class="page__title--trash">
    {% trans 'Papelera de reciclaje' %}
</h1>
<div class="page__subtitle--services">
    {% trans 'Aquí puedes eliminar permanentemente las carpetas borradas.' %}
</div>

<div class="page__content--trash">
  <form class="form--trash" method="post">
    {% csrf_token %}
    {% if trash_status == 'error' %}
      <ul class="errorlist nonfield">
        <li>{% trans 'Una operación de borrado ha generado un error. Antes de eliminar otros elementos reanuda la operación anterior' %}</li>
      </ul>
    {% endif %}
  <div class="page__wide-content-left--trash-update">
    <h2>{%trans 'Sistema' %}</h2>
    <div class="page__section--trash">
      <h3>
        <i class="fa fa-archive"></i> docker
      </h3>
    </div>
        
    <div class="page__section--trash">
      <div class="trash--table">
        <div class="field trash__checkbox--table">

          <p class="field__value docker"><input type="checkbox" name="docker" id="id_docker">
        <label class="select_all">{% trans 'Eliminar imágenes de Docker no usadas' %}</label>:  
        {% blocktrans trimmed%}
        Se eliminarán las imágenes de Docker que no estén referenciadas ni utilizadas por ningún 
        contenedor. Si has instalado alguna imagen de Docker manualmente, fuera del panel de control, 
        asegúrate de revisar que no haya ninguna en desuso que desees conservar.
        {%endblocktrans%}
        </p>
        </div>
      </div>
    </div>
        
    <div class="page__section--trash">
      <h3>
        <i class="fa fa-angle-double-down"></i> apt
      </h3>
    </div>
        
    <div class="page__section--trash">
      <div class="trash--table">
        <div class="field trash__checkbox--table">

          <p class="field__value apt"><input type="checkbox" name="apt" id="id_apt">
          <label class="select_all">{%trans 'Eliminar paquetes obsoletos' %}</label>:  
          {% blocktrans trimmed%}
          Se ejecutará el comando apt-get clean para limpiar la cache de paquetes instalados. 
          Se eliminarán los archivos que ya no son necesarios para el sistema.
          {%endblocktrans%}
        </p>
        </div>
      </div>
    </div>

    <h2>{%trans 'Archivos' %}</h2>
    <div class="page__section--trash">
      <h3><i class="fa fa-globe"></i>{%trans 'Dominios'%}</h3>
      <div class= "trash--table">
        <h5><em>{%trans 'Carpetas correspondientes a dominios que has eliminado' %}</em></h5>
      </div>
        <div class="table-responsive domain--grid">
          {% render_table table %}
        </div>
    </div>
    {% if users %}
    <div class="page__section--trash">
      <h3><i class="fa fa-users"></i>
          {%trans 'Usuarixs'%}
      </h3>
      <div class= "trash--table">
        <h5><em>{%trans 'Carpetas correspondientes a cuentas de usuarixs que has eliminado' %}</em></h5>
      </div>
      <div class="table-responsive domain--grid">
        {% render_table table_users %}
      </div>
    </div>
    {% endif %}
    {% if mails %}
    <div class="page__section--trash">
      <h3>
        <i class="fa fa-envelope"></i>
          {%trans 'Correo' %}
      </h3>
      <div class= "trash--table">
        <h5><em>{%trans 'Carpetas correspondientes a cuentas de correo que has eliminado' %}</em></h5>
      </div>
      <div class="table-responsive domain--grid">
        {% render_table table_mails %}
      </div>
    </div>
    {% endif %}
    {% if backups %}
    <div class="page__section--trash">
      <h3>
        <i class="fa fa-folder-open"></i>
          {%trans 'Copias de archivos de aplicaciones' %}
      </h3>
      <div class= "trash--table">
        <h5><em>
          {% blocktrans trimmed%}Estos archivos se han generado en el proceso de actualización de ciertas aplicaciones a modo de copia de seguridad. 
          Una vez hayas comprobado que la actualización se realizó correctamente puedes eliminarlos. 
          Asegúrate de que no los necesitas antes de proceder.
          {% endblocktrans %}
        </em></h5>
      </div>
      <div class="table-responsive backups--grid">
        <table class="table table-striped table-hover table-responsive">
          <thead >
          <tr>
              <th class="thin-class">
                      <input type="checkbox" name="select-all" value="remove-backups" class="thin-column" />
              </th>
              <th class="table-dark">
                  {% trans 'Nombre' %}
              </th>
              <th class="table-dark">
                {% trans 'Tamaño' %}
              </th>
              <th class="table-dark">
                {% trans 'Fecha' %}
              </th>
          </tr>
          </thead>

          <tbody >

            {% include 'ldapobj/views/backup-trash--table.html' with backups=backups model='backups'%}
          </tbody>
        </table>
      </div>

    </div>
    {% endif %}
    {% if onions %}
    <div class="page__section--trash">
      <h3>
        <i class="fa fa-folder-open"></i>
          {%trans 'Claves de servicios .onion eliminados' %}
      </h3>
      <div class= "trash--table">
        <h5><em>
          {% blocktrans trimmed%}Estas son las claves necesarias para regenerar el mimso onion service de los dominios que has eliminado.
          Puedes eliminarlas si ya tienes o copia o si no quieres rehabilitar el mismo dominio .onion
          {% endblocktrans %}
        </em></h5>
      </div>
      <div class="table-responsive backups--grid">
        <table class="table table-striped table-hover table-responsive">
          <thead >
          <tr>
              <th class="thin-class">
                      <input type="checkbox" name="select-all" value="remove-onions" class="thin-column" />
              </th>
              <th class="table-dark">
                  {% trans 'Nombre' %}
              </th>
              <th class="table-dark">
                {% trans 'Tamaño' %}
              </th>
              <th class="table-dark">
                {% trans 'Fecha' %}
              </th>
          </tr>
          </thead>

          <tbody >
            {% include 'ldapobj/views/backup-trash--table.html' with backups=onions model='onions' %}
          </tbody>
        </table>
      </div>

    </div>
    {% endif %}
  </div>    
    <div class="page__wide-content-right--services-install">
              <span class="services-button"
              data-launch-modal    = '#modal-clean'
               >
              {% if trash_status == 'error' %}
                {% trans 'Reanudar Operación' %}
              {%else %}
                {% trans 'Vaciar Papelera' %}
              {% endif %}
          </span>
    </div>
          {% include 'ldapobj/blocks/modal-clean.html' %}
      </form>
</div>
{% endblock %}
{% block page_scripts %}
    <script type="text/javascript" src="{% js 'trash.js' %}"></script>
{% endblock %}
