{# Frontpage #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--unban{% endblock %}
{% block page_html_title %}{% trans 'Desbloquear accesos' %}{% endblock %}

{% block main %}
<h1 class="page__title--unban">
    {% trans 'Configurar desbloqueos' %}
</h1>
<div class="page__subtitle--unban">
    {% trans 'Desbloqueas accesos bloqueados por IP o cuenta de usuarix' %}
</div>
<div class="page__content--unban">
    <div class="page__wide-content-left--notifications">
       <form class="form--unban default" method="post">
         {% csrf_token %}
         <p>
        {% blocktrans trimmed %}
            Si estás experimentando problemas de conexión cuando intentas acceder 
            a los servicios del servidor, es posible que la cuenta o la IP desde 
            la que estás intentando conectar haya sido bloqueada.  
        {% endblocktrans %}
        </p>
         <p>
        {% blocktrans trimmed %}
            El bloqueo se activa cuando el servidor detecta demasiados 
            intentos fallidos de autenticación, o comportamientos de navegación 
            anómalos y dura 12 horas.
        {% endblocktrans %}
         </p>
         <div class="page__section--unban">
          <p>{%trans 'Los servicios que podrían verse afectados por el bloqueo son:' %}</p>
          <ul>
            <li>{%trans 'Acceso con navegador a las aplicaciones web, nextcloud, discourse, etc' %}</li>
            <li>{%trans 'Acceso por ssh/SFTP' %}</li>
            <li>{%trans 'Conexión al servidor de correo por  IMAP/POP3' %}</li>
            <li>{%trans 'Acceso al panel de control' %}</li>
          </ul>
         </div>
        <div class="form__field">
        {{form.as_div}}
        </div>
        <button class="form__submit--unban" type="submit">
          {% trans 'Desbloquear' %}
        </button>
      </form>
    </div>
</div>
{% endblock %}
