{# Borg Key page #}
{% extends 'layouts/single-fluid-column.html' %}
  {% load i18n templatetags %}
{% block body_classes %}page--borg-key{% endblock %}
{% block page_html_title %}{%trans 'Clave privada'%}{% endblock %}

{% block main %}
<h1 class="page__title--activate">
    {% trans 'Clave privada para copias de seguridad' %}
</h1>
<div class="page__subtitle--activate">
    {% trans 'Copia de respaldo de la clave de encritpación' %}
</div>
<div class="page__content--activate">
  <div class="page__content-left--activate">
    <div class="page__section--borgkey settings">
    {% if borg_started %}
      {% if key_value %}
          {% if key_value == "clean" %}
              <h3>{%trans 'La clave no está disponible. Es posible que la copia ya se haya eliminado. ' %}</h3>
              <h5>{%trans 'Por razones de seguridad, una vez exportada, la copia es accesible desde el panel de control solo durante 5 minutos.' %}</h5>
              </h5>{%trans 'Puedes volver a exportarla aquí: '%} <a href="{% url 'borgkey' %}">{%trans 'Exportar clave' %}</a></h5>
          {% else %}
              <h5>{% trans 'Esta es la clave necesaria para poder desencriptar las copias de seguridad y estará disponible en esta página durante 5 minutos. Guarda una o más copias en dispositivos externos (Ordenador, disco duro , etc)' %}</h5>
              <button data-copy-clipboard="borg-key-value" class="page__action--copy add">{%trans 'Copiar clave'%}</button> 
              <p><textarea id="borg-key-value" readonly class="full" rows="10" cols="60">{{ key_value }}</textarea></p>
        

              {% if not borg_key_copied %}
                <h5>{%trans 'Una vez termines haz clic en el botón "Clave guardada" para que el panel de control no vuelva a forzarte a ejecutar este proceso' %}</h5>

                <form class="update-form default" method="POST">
                      {% csrf_token %}
                      <button class="form__submit--genericlock confirm" type="submit" name="dontbother">
                        {% trans 'Clave guardada' %}
                    </button>
                </form>
              {% endif %}

          {% endif %}
    {% elif waiting_key %}
          <div id="waiting-key" class="visible">
              <h3>{% trans 'Exportando clave.'%}
                <span class="loading_key"><i class="fa fa-spinner fa-spin fa-1x fa-fw"></i>
                <span class="sr-only">Loading...</span></span>
              </h3>

              <p>{%trans 'En cuanto el proceso de exportación termine aparecerá un campo en el que tendrás que introducir tu contraseña de acceso al panel de control y se mostrará la clave para que puedas copiarla. '%}</p>
          </div>
          <div id="key-ready" class="invisible">
             <form class="getkey-form default" method="POST"> 
               {% csrf_token %}
               {{ form.non_field_errors }}
               {{form.as_div }}
               <div class=form__field">
               <button class="form__submit--genericlock confirm" type="submit">
                    {% trans 'Mostara Clave' %}
                </button>
              </div>
            </form>
          </div>
    {% else %}
          <h3>{%trans 'Copia de respaldo de la clave de encriptación' %}</h5>
          <form class="update-form default" method="POST">
          {% csrf_token %}
          <p>{% trans 'Desde esta página puedes extraer una copia de respaldo de las claves necesarias para desencriptar los backups que se guardan cifrados en un servidor remoto.'%}</p>
          <p>{% trans 'Actualmente estas claves están almacenadas únicamente en este servidor que incluye un método automatizado para acceder a los backups. Sin embargo es imprescindible que guardes otra copia en otro dispositivo externo.'%}</p>

          <p>{% trans 'Si hubiese un fallo del sistema, sin respaldo de estas claves los backups externos serían ilegibles y perderías toda la información.'%}</p>
          <p><button class="form__submit--genericlock confirm" type="submit" name="lockmodule">
            {% trans 'Exportar Clave' %}
          </button></p>
          </form>
          {% if not borg_key_status == "ready" %}
                {% include 'blocks/modal-borgkey.html' with borg_key_status=borg_key_status%}
          {% endif %}
      {%endif %}
      {% else %}
          <h3>{%trans 'Exportar clave para las copias de seguridad. ' %}</h3>
          <p>{%trans 'La clave todavía no se ha generado. Estará disponible en esta misma página una vez se haya hecha la primera copia de seguridad del día.' %}
      {% endif %}
    </div>
    </div>

{% endblock %}
{%if waiting_key %}
{% block page_scripts %}
    <script type="text/javascript" src="{% js 'key_ajax_load.js' %}"></script>
{% endblock %}
{% endif %}
