{# Domains overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--backups{% endblock %}
{% block page_html_title %}{%trans 'Copias de seguridad' %}{% endblock %}

{% block main %}
<h1 class="page__title--trash">
    {% trans 'Copias de seguridad' %}
</h1>
<div class="page__subtitle--services">
    {% trans 'En esta página puedes consultar las copias existentes' %}
</div>
<div class="page__content--backups-instructions">
  {% if borg_started %}
    <div class="page__wide-content-left--trash-update">
      <div class="page__section--backups-instructions">
          <h3>{% trans 'Descargar la clave de encriptación' %}</h3>
          <p>{% trans 'Las copias de seguridad se almacenan en un servidor remoto y están cifradas. Para poder descifrarlas necesitas la misma clave que se ha utilizado para la encriptación. En este servidor hay una copia de esta clave. Es muy importante que conserves otra copia en otro dispositivo ya que sin ella no será posible leer el contenido de las copias de seguridad y tu sistema de respaldo quedaría inservible.' %}</p>
         <a href="{% url 'borgkey' %}">
             {%trans 'Hacer respaldo de la clave para desencriptar las copias de seguridad' %}
         </a>

      </div>
      <div class="page__section--backups-instructions">
          <h3>{% trans 'Copias disponibles' %}</h3>
          <p>{% trans 'Las siguientes copias están en el servidor remoto. Puedes acceder a su contenido seleccionando una o más de ellas para montarlas en el sistema.' %}</p>
          <p>{%trans 'Pasados unos minutos podrás navegar por las carpetas utilizando una conexión SSH/SFTP y accediendo con la cuenta de Superusuarix en ' %}</p>
          <pre>{{mountpoint}}</pre>
      </div>
    <form class="form--trash default" method="post">
        {% csrf_token %}

        {% if borg_status == 'error' %}
          <ul class="errorlist nonfield">
            <li>{% trans 'Una operación de borrado ha generado un error. Antes de eliminar otros elementos reanuda la operación anterior' %}</li>
          </ul>
        {% endif %}
        {{ form.non_field_errors }}
            {% include 'views/borgbackups--table.html' with form=form  mountpoint=mountpoint %}
            <button class="borg-button" type="submit">
            {% if trash_status == 'error' %}
                {% trans 'Reanudar Operación' %}
              {%else %}
                {% trans 'Guardar cambios' %}
              {% endif %}
              </button>
      {% if show_modal %}
        {% include 'blocks/modal-confirm-write.html' %}
      {% endif %}

    </form>

  </div>
  {% else %}
    <div class="page__wide-content-left--trash-update">
        <div class="page__section--backups-instructions">
          <h3>{% trans 'Detalles del ciclo de las copias de seguridad' %}</h3>
          <p>{% trans 'El servicio de copias de seguridad está activado. Las copias se hacen cada 24 horas y todavía no se ha generado ninguna' %}</p>
          <p>{%trans 'Las copias de respaldo se guardan cifradas en un servidor remoto y es indispensable disponer de la clave privada capaz de descifrarlas.' %}</p>
            <p>{%trans 'Es muy importante que vuelvas a consultar esta página en 24 horas para bajarte una copia de respaldo de la clave que estará disponible una vez se haya completado el primer ciclo de back-up de los archivos.' %}</p>

        </div>
    </div>
  {% endif %}
     <div class="page__wide-content-right--services-install">
          <h3>{% trans 'Ciclo' %}</h3>
          <h5>{%trans 'La copia de respaldo se efectúa cada día y se conservan las siguientes:' %}</h5>
          <ul>
            <li><b>{%trans 'Copias diarias: ' %}</b>{{status_data.backup_daily}}</li>
            <li><b>{%trans 'Copias semanales: ' %}</b>{{status_data.backup_weekly}}</li>
            <li><b>{%trans 'Copias mensuales: ' %}</b>{{status_data.backup_monthly}}</li>
          </ul>

      </div>

</div>
{% endblock %}
{% block page_scripts %}
    <script type="text/javascript" src="{% js 'ajax_load.js' %}"></script>
{% endblock %}

