{# error 403 template #}
{% load i18n templatetags %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {# Title and description #}
        <title>
            maadix
        </title>
        <meta name="description" content="{{ html_document_description }}">
        {# Robots and humans #}
        <meta name="robots" content="robots.txt">
        <link href="humans.txt" rel="author">
        {# Favicons #}
        <link href="{% img 'favicon.ico' %}?v=1.0" rel="icon" type="image/png">

        {# Styles #}
        <link href="{% css 'exceptions.css' %}" rel="stylesheet">
    </head>
    <body class="page--exception">
        <div class="page__content--exception">
            <figure class="page__logo--exception">
                <img src="{% img 'logo-maadix--full.svg' %}" />
            </figure>
            <div class="page__text--exception">
                {% block text %}{% endblock %}
            </div>
            <div class="page__breadcrumb--exception">
              <button>
              <a href="{{request.META.HTTP_REFERER|escape}}">
              {% trans 'Volver atrás' %}
              </a>

              </button>
            </div>
        </div>
    </body>
</html>
