{# Activation page #}
{% extends 'layouts/single-fixed-column-logged.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--activate{% endblock %}
{% block page_html_title %}Bienvenid@!{% endblock %}

{% block main %}
<h1 class="page__title--activate">
    {% trans 'Cifrado de disco' %}
</h1>
<div class="page__subtitle--activate">
    {% trans 'Cambiar contraseñas de luks' %}
</div>
<div class="page__content--activate">
    <div class="page__content-left--activate">

      {%trans 'Elige dos contraseñas que necesitarás cada vez que el servidor se reinicia para poder descifrar el disco y arrancar el sistema.'%}</p>

      <p>{%trans 'Cópialas y  guárdalas en  lugar seguro. Sin ellas nadie podrá recuperar tus datos, tampoco el equipo de MaadiX.'%}</p>
        <form class="form--luks default" method="post">
            {% csrf_token %}
            <p>{%trans 'El valor que ves en los campos son sugerencias que puedes utlizar o bien introducir la contraseña que prefieras.'%}</p>

            <div class="page__section--fields">
              {% for field in form %}
              {% if not field.name == 'current_password' %}
              <div class="form_field">
                <label class="required">
                {{ field.label }}
                </label>
              </div>
              <div class="form_field">
                <p>{{ field.help_text }}</p>
              </div>
              <div class="form_field">
                <p>{{ field.errors }}<p>
              </div>
              <div class="form_field">
                <p>{{field }}</p>
              </div>
              {% endif %}
              {%endfor %}
            </div>
              
            <div class="page__section--submit">
                <button type="submit">
                {% trans 'Aplicar cambios' %}
                </button>
            </div>
                        {% if show_modal %}
                {% include 'blocks/modal-luks-confirm.html' %}
            {% endif %}

        </form>
    </div>
{% endblock %}
