{# Frontpage #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--luks{% endblock %}
{% block page_html_title %}{% trans 'Desbloquear accesos' %}{% endblock %}

{% block main %}
<h1 class="page__title--lucks">
  {% trans 'Cifrado de Disco' %}
</h1>
<div class="page__subtitle--lucks">
    {% trans 'Administrar Slots de Luks' %}
</div>
<div class="page__content--lucks">
    <div class="page__wide-content-left--notifications">
       <form class="form--lucks default" method="post">
         {% csrf_token %}
         <p>
        {% blocktrans trimmed %}
            Este servidor tiene el disco cifrado.
            Cada vez que se reinica es necesario descifrar el disco para poder montar el sistema operativo.
        {% endblocktrans %}
        </p>
         <p>
        {% blocktrans trimmed %}
            En esta paǵina puedes cambiar las contraseñas de dos slots.
            Para ello es necesario que introduzcas la contraseña actual para cada uno de ellos.
            El cambio de contraseña se efectúa en dos pasos:
            1- Tienes que insertar la contraseña vigente de los slots que quieras actualiza
            2- El sistema comprobará que la contraseña es correcta
            3- terminada la comprobación podrás insertar la nueva contraseña.
            4- El sistema actualizará el dato y reiniciará el servidor automáticamente, para que puedas comprobar que puedes descifrar el disco
        {% endblocktrans %}
         </p>
         <div class="page__section--lucks">
          <p>{%trans 'Los servicios que podrían verse afectados por el bloqueo son:' %}</p>
          <ul>
            <li>{%trans 'Acceso con navegador a las aplicaciones web, nextcloud, discourse, etc' %}</li>
            <li>{%trans 'Acceso por ssh/SFTP' %}</li>
            <li>{%trans 'Conexión al servidor de correo por  IMAP/POP3' %}</li>
            <li>{%trans 'Acceso al panel de control' %}</li>
          </ul>
         </div>
        <div class="form__field">
        {{form.as_div}}
        </div>
        <button class="form__submit--lucks" type="submit">
          {% trans 'Desbloquear' %}
        </button>
      </form>
    </div>
</div>
{% endblock %}
