{# Domains overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--pgpkeys{% endblock %}
{% block page_html_title %}Claves Ppg{% endblock %}

{% block main %}
<h1 class="page__title--pgpkeys">
    {% trans 'Claves PgP' %}
</h1>
<div class="page__subtitle--pgpkeys">
    {% trans 'Aquí puedes administrar las claves PgP para que el sistema envíe correos cifrados.' %}
</div>

<div class="page__content--pgpkeys">
    <div id="form-wrapper--pgpkeys" class="page__content-right--pgpkeys {% if not form.errors %}collapsed{% endif %}">
      <div class="page__actions--pgpkeys">
          <button class="page__action--pgpkeys add" data-toggle="form-wrapper--pgpkeys">
              {% trans 'Añade una nueva clave' %}
          </button>
      </div>
        {% default_form form=form modifier='pgpkey' %}
    </div>
    <div class="page__content-left--pgpkeys">
      {% if public_keys %}
        <div class="view-emails">
        <ul class="view-emails__items">
        {% for key in public_keys %}
            <li class="view-emails__item">
              {% include 'views/pgp-keys--list.html' with key=key ldap_tree=ldap_tree %}
            </li>
        {% endfor %}
        </ul>
      {% else %}
        {% trans 'Todavía no hay ninguna clave PgP' %}
      {%endif %}
    </div>
    <div class="view-pgpkeys">

    </div>
{% include 'blocks/modal-delete.html' %}
</div>
{% endblock %}
