{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--phpversion{% endblock %}
  {% block page_html_title %}{% trans 'Configuración de php' %}{% endblock %}

{% block main %}
  <h1 class="page__title--unban">
      {% trans 'Configurar versión de php' %}
</h1>
<div class="page__subtitle--unban">
    {% trans 'Configura la versiónn de PhP que quieres utilizar' %}
</div>
<div class="page__content--unban">
    <div class="page__wide-content-left--notifications">
       <form class="form--unban default" method="post">
         {% csrf_token %}
        {{ form }}
        <div class="page__section--fields">
        <button class="modal__submit--genericlock confirm" type="submit" name="setphp">
          {% trans 'Guardar' %}
        </button>
        </div>
          {% if show_modal %}
            {% include 'blocks/modal-genericlock.html' %}
          {% endif %}
      </form>
    </div>
</div>
{% endblock %}

