{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--pgpkey{% endblock %}
{% block page_html_title %}{% trans 'Clave Pgp' %}{% endblock %}

{% block main %}
<h1 class="page__title--pgpkey">
    {% trans 'Clave Pública' %}
</h1>
<div class="page__subtitle--pgpkey">
    {% trans 'Detalles de la clave Pública' %}
</div>
<div class="page__content--pgpkeys">

  <div class="page__content-right--pgpkey">
    <div class="mail-account--list">
      <div class="field mail-account__email--list">
        <div class="field__label">
          {% for id in key.pgpUserID %}
            <p>{{ id }}</p>
          {% endfor %}
        </div>
      </div>
      {% if not key.pgpRevoked == '0' %}
        <div class="field mail-account__revoked--list">
          <div class="field__label inline">
            {% trans 'Revocada' %}
          </div>
      </div>
    {% endif %}
    <div class="field mail-account__email--list">
        <div class="field__label inline">
            {% trans 'ID' %}
        </div>
        <div class="field__value inline">
            {{ key.pgpKeyID}}
        </div>
    </div>
    <div class="field mail-account__email--list">
        <div class="field__label inline">
            {% trans 'Creada' %}
        </div>
        <div class="field__value inline">
          {{ key|creationtimestampdate}}
        </div>
    </div>
     <div class="field mail-account__email--list">
        <div class="field__label inline">
          {% if key|checkDateExpired %}
            {% trans 'Expira' %}
          {% else %}
            {% trans 'Expirada' %}
          {% endif %}
        </div>
        <div class="field__value inline">
          {{ key|expiretimestampdate}}
        </div>
      </div>
    </div>
  </div>
   <div class="page__content-left--pgpkey">
     <pre>{{ key.pgpKey }}</pre>
  </div>
</div>
</div>
{% endblock %}

