//
// LAYOUT
//
// App installation path

$app_path      : '/diango'
// Grid system
$size_base     : 16px
$m             : 1.5 * $size_base
$grid_columns  : 12
$columns_guter : $m
$grid_classes  : false
$width_fixed   : $m*40

// Main regions
$toolbar_height: $m*2
$header  : '.region-header'
$header_height : $m
$header_padding: 0
$content : '.region-content'
$content_margin_top: $m*2
$content_margin_bottom: $m*2
$footer  : '.region-footer'
$footer_height : $m*2
$footer_padding: $m
$apply_sticky_footer: true
$navigation_width: $m*20
$sidebar_width: 240px

// Minimum padding in responsive one-col-layouts
$min_padding: $m/2


//
//  COLORS
//

// Interface colors (from Bootstrap)
$color_calm    : #5bc0de
$color_success : #95bb36
$color_warning : #f0ad4e
$color_danger  : #d9534f
// Site palette
// pass

// Element colors
$color_background           : #DADBDD
$color_text                 : #222
$color_headers              : $color_text
$color_header_background    : #4a4b4d
$color_header_text          : white
$color_footer_background    : #4a4b4d
$color_footer_text          : white

// Text selection
$color_selection_background : $color_text
$color_selection_text       : white

// Palette
$palette_blue_light : #3a4651
$palette_blue_dark  : #333e48
$palette_grey_light : #f0f3f6
$palette_grey_dark  : #d7dde4
$palette_maadix     : #c60033

// Responsive menu
$menu_breakpoint: $width_fixed

//
//  FONTS
//

@import fonts/open-sans-light/*
@import fonts/open-sans-condensed-bold/*
@import fonts/fontawesome/*
@import fonts/tor-icons/*

$font_text           : 'open-sans-light', sans-serif
$font_headers        : 'open-sans-condensed-bold', sans-serif
$font_auxiliar       : $font_text
$font_icons          : 'awesome'
$font_text_weight    : normal
$font_headers_weight : normal
$tor_icons           : 'tor-icons'
// Font sizes:
$size_headers  : (2rem, 1.75rem, 1.5rem, 1.25rem, 1rem, 0.85rem)
$size_big      : 1.25em
$size_small    : 0.8em
$size_smaller  : 0.75em

\:root
  --bs-link-color-rgb: 52, 58, 64
  --bs-link-color: #c60033
  --bs-link-hover-color-rgb: 147, 0, 38
  --bs-link-hover-color: #930026
  --bs-table-bg: #333d47
  --bs-danger: #c60033
  --bs-pagination-active-bg: #930026
  --bs-pagination-active-border-color: #930026
