{% load i18n %}
<h2>{% translate "Summary" %}</h2>
{{ object_list }}
<ul>
    {% for model_name, object_count in model_count %}
    <li>{{ model_name|capfirst }}: {{ object_count }}</li>
    {% endfor %}
</ul>
