{# modal to rkhunter maadix #}
{% load i18n %}

<div class="modal--rkhunter" id="modal-rkhunter">
    <div class="modal__content-wrapper--rkhunter">
        <p class="modal__content--rkhunter">
                <p>{% trans '¿Confirmas que los cambios que se han generado en el sistema son legítimos y corresponden a alguna instalación o configuración que se haya llevado a cabo previamente?' %}</p>
                <p>{%trans 'Si confirmas no recibirás más las alertas correspondientes a estas modificaciones.' %}</p>
            <div class="modal__actions--rkhunter">
                <form class="rkhunter-form" method="POST">
                    <button class="modal__submit--rkhunter cancel" type="reset" data-dismiss="#modal-rkhunter">
                      {% trans 'Cancelar' %}
                    </button>

                    {% csrf_token %}
                    <button class="modal__submit--rkhunter confirm" type="submit" name="rkhunter">
                        {% trans 'Confirmar' %}
                    </button>
                </form>
            </div>
        </p>
    </div>
</div>
