{# modal to confirm create dkimm #}
{% load i18n %}

<div class="modal--update" id="modal-dkim">
    <div class="modal__content-wrapper--dkim">
        <p class="modal__content--dkim">
            <div class="modal__text--dkim">
                <p>{% trans 'El proceso de creación del certificado DkiM tardará unos minutos. '%}</p>
                <p>{%trans 'En cuanto el proceso haya terminado podrás consultar su valor en la página de consulta de DNS' %}</p>
                <p>{%trans '¿Confirmas que quieres aplicar los cambios ahora?' %}</p>
            </div>
            <div class="modal__actions--dkim">
                <button class="modal__submit--dkim" data-dismiss="#modal-dkim">
                    {% trans 'Cancelar' %}
                </button>
                <form class="update-form" method="POST" action="{% url 'api_create_dkim' %}">
                    {% csrf_token %}
                    <input type="hidden" name="dn" value="{{domain}}" />
                    <input type="hidden" name="url" value="{{ request.get_full_path }}" />
                    <button class="modal__submit--dkim confirm" type="submit" name="writeldap">
                        {% trans 'Continuar' %}
                    </button>
                </form>
            </div>
        </p>
    </div>
</div>
