{# modal to reboot maadix #}
{% load i18n %}

<div class="modal--clean" id="modal-clean">
    <div class="modal__content-wrapper--clean">
        <p class="modal__content--clean">
                <p>{% trans ' Si continúas se borrarán de forma permanente los elementos seleccionados. Esta acción no se puede deshacer.' %}</p>
                <p>{%trans '¿Confirmas que quieres continuar?' %}</p>
            <div class="modal__actions--clean">
                <span class="modal__cancel--clean" data-dismiss="#modal-clean">
                    {% trans 'Cancelar' %}
                </span>
                <form class="clean-form" method="POST">
                    {% csrf_token %}
                    <button class="modal__submit--clean" type="submit">
                        {% trans 'Continuar' %}
                    </button>
                </form>
            </div>
        </p>
    </div>
</div>
