{# modal to reboot maadix #}
{% load i18n %}

<div class="modal--install" id="modal-install">
    <div class="modal__content-wrapper--install">
        <p class="modal__content--install">
          {% if groups %}
            <div class="modal__text--install inactive">
                <p>
                {% trans 'Las siguientes aplicaciones se han seleccionado para ser instaladas: ' %}
                <p>
                <ul>
                  {% for group in groups %} 
                  <li><i class="fa fa-plus"></i> {{ group }}</li>
                  {% endfor %}
                </ul>
                {% if dep_groups %}
                  {% trans 'También se instalarán las siguientes dependencias, necesarias para las aplicaciones seleccionadas: ' %}
                  <ul>
                    {% for group in dep_groups %}
                      <li><i class="fa fa-plus"></i> {{ group }}</li>
                    {% endfor %}
                  </ul>
                  <p>{% trans 'El proceso durará unos minutos durante los cuales el Panel de Control quedará inactivo' %}</p>
                  <p>{% trans 'Todas las personas que tengan una sesión activa serán forzadas a salir y redireccionadas a una página en la que se mostrará el estado de la operación. '%}
                  {% trans 'Cuando la operación termine se activará el formulario para volver a acceder.' %}</p>
                  <p>{%trans '¿Confirmas que quieres instalar las aplicaciones ahora?' %}</p>
                {% endif %}
            </div>
          {% else %}
            <div class="modal__text--install inactive">
              <p>
                {% trans 'No hay ninguna aplicación seleccionada' %}
              </p>
            </div>
          {% endif %}
            <div class="modal__actions--install">
                <span class="modal__cancel--install" data-dismiss="#modal-install">
                    {% trans 'Cancelar' %}
                </span>
                {% if groups %}
                <button class="modal__submit--install block-button" type="submit" name="writeldap">
                  {% trans 'Continuar' %}
              </button>
                {% endif %}
            </div>
        </p>
    </div>
</div>
