[class*='submit--']
  +button_maadix

.submit--confirm
  +button_success

.submit--backup
  background-color: $color_warning 

.page__section--2fa
  a.white:hover, a.white:visited, a.white:link
    color: white
  li.clean-list
    list-style: none 
  a.btn
    background-color: #ececec
    padding: $m/2
form.default 
  a.white:link, a.white:visited
    color: white

