// Form styles

// Default
=default_form
  background: white
  position: relative
  padding: $m
  +links($color_text, darken($palette_maadix, 10%), .1s ease)
  .field
    margin-bottom: $m
  .errorlist
    color: $color_danger
    background-color: rgb(255, 232, 232)
    padding: $m/2
    font-family: $font_headers
    margin-bottom: $m
  .field--password .fa-eye
    cursor: pointer
    background-color: #ddd
    padding: $m/2
    font-size: larger
    
  label
    +h(5)
    display: block
    margin-bottom: $m/3
  label.required:after
    content: "*"
    color: $color_danger
  .form__field
    margin-bottom: $m/2
    &.collapsed
      +collapsed
  .form__help-text,
  .field__helptext
    font-size: .9em
    color: lighten($palette_blue_light, 15%)
    margin: $m/4 0 $m/2
    padding-left: $m
    max-width: 100%
    text-align: justify
    +breakpoint('sm')
      width: 33vw
  [type=submit]
    +button_success
    margin-top: $m*2
  [class*='modal__content-wrapper--']
    [type=submit]
      margin-top: 0
  input.disabled
    border: 0
    padding: $m/2
    background-color: #f5f5f5
    color: #555
    pointer-events: none
  &.collapsed
    +collapsed
  .form__checkbox-label
    font-size: .9em
    margin-left: $m/4
  input:not([type=checkbox]),
  select,
  textarea
    width: 360px
  select
    background: url('../img/arrow-drop.png') 98% / 5% no-repeat #fff
    border: 1px solid rgba(0, 0, 0, 0.15)
    border-radius: 0.25rem
    padding: $m/2 $m/4
    ::-ms-expand
      display: none
    +breakpoint('sm')
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
    +breakpoint('xs')
      background: none
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=url]
    border: 1px solid rgba(0, 0, 0, 0.15)
    border-radius: 0.25rem
    padding: $m/2 $m/4

  #id_ssh_key.pre
    label
      font-family: monospace, monospace
      font-size: 0.8rem
      overflow-wrap: break-word

form.default
  +default_form

.page__wide-content-left--notifications form.default
  .form__help-text
    width: 100%
[class*='__content-right--'] form
  margin-top: $m/3

[id*='form-wrapper--'].collapsed
  form
    display: none

form.default.form--luks
  input[type=password]
    color: #222
     
// Ovvrides for home_dir field in edit user form
label[for=id_ssh_key_]
  font-family: monospace, monospace
  font-size: 0.8rem
  overflow-wrap: break-word

label[for=id_home_dir],
label[for=id_home_dir] + p,
input#id_home_dir
  margin-left: $m/2
label[for=id_home_dir]
  margin-top: $m/2
  font-size: .9em !important
  font-family: $font_text !important
@media screen and (min-width:0\0) 
  select 
    background:none\9
    padding: 5px\9
