// Menu notifications
  /templates/menus/menu-notifications.html

.menu-notifications
  float: right
  z-index: 100
  margin-right: $m/2
  +links(#222, $palette_maadix, .2s ease)
  font-family: $font_text

.menu-notifications__trigger:hover
  cursor: pointer

.menu-notifications__label
  font-size: $size_small
  text-transform: uppercase
  line-height: $header_height
  +h(6)
  &:hover
    cursor: pointer
  img
    max-height: $m/2
    margin-right: $m/6

.menu-notifications__items
  position: absolute
  right: $m
  top: $header_height
  line-height: $m*2
  z-index: 100
  background: white
  padding: $m/2
  line-height: $m*1.5
  font-size: .85em
  border: 1px solid rgba(black, .05)
  &.collapsed
    +collapsed
    padding: 0
    border: 0
  .fa
    margin-right: $m/3

.menu-notifications__item.reboot .fa:before
  color: $palette_maadix
.menu-notifications__item.update .fa:before
  color: $color_success

.menu-notifications__number
  font-family: monospace
  font-size: .5em
  position: absolute
