.table
  span.true
    color: #95bb36
  span.false
    color: #c60033

  th.thin-class, td.thin-class
    width: 64px
  
  th.orderable a:after
    content: "↑"

  th.orderable.desc a:after
    content: "↑"

  th.orderable.asc a:after
    content: "↓" 
.table > :not(caption) > * > *
  padding: 1.2rem 0.5rem

.table > :not(:last-child) > :last-child > *
  border-bottom: 5px solid #930026
  background-color: #333d47
  th
    font-weight: bold
  a
    color: white
    font-weight: bold
.pagination
  --bs-pagination-active-bg: #c60033
  --bs-pagination-active-border-color: #c60033
