{# default form #}
{% load i18n %}

<form class="form{% if modifier %}--{{ modifier }}{% endif %} default" method="post">
    {% csrf_token %}
    {{ form.as_div }}
    <button class="form__submit{% if modifier %}--{{ modifier }}{% endif %}" type="submit">
        {% if save_text %}
            {{ save_text }}
        {% else %}
            {% trans 'Guardar' %}
        {% endif %}
    </button>
</form>
