{# modal to general confirm #}
{% load i18n %}

<div class="modal--update" id="modal-confirm-write">
    <div class="modal__content-wrapper--confirm-write">
        <p class="modal__content--confirm-write">
            <div class="modal__text--genericlock">
              <p> {%trans 'Una vez confirmes este proceso el servidor se reiniciará al cabo de unos 3 minutos'%} </p>
              <p> {%trans 'Para volver a arrancar el sistema tendrás que acceder por SSH con el siguiente comando:' %}</p>
              <pre>ssh -p 2000 root@{{fqdn}}</pre>
              <p>{%trans 'e insertar una de las dos contraseñas que acabas de establecer.'%}
              <p>{%trans 'Asegúrate de haber copiado y guardado las contraseñas en un lugar seguro.' %}</p>
             <p>{%trans 'Para poder continuar, inserta la contraseña que utilizas para acceder al panel de control' %}
             <p>{{ form.current_password }}</p>
            </div>
            <div class="modal__actions--confirm-write">
                <span class="modal__submit--genericlock" data-dismiss="#modal-confirm-write">
                    {% trans 'Cancelar' %}
                </span>
                    {% csrf_token %}
                    <button class="modal__submit--genericlock confirm" type="submit" name="writeldap">
                        {% trans 'Confirmar' %}
                    </button>
            </div>
        </p>
    </div>
</div>

