{# modal to reboot maadix #}
{% load i18n %}

<div class="modal--wizard" id="modal-wizard">
    <div class="modal__content-wrapper--wizard">
        <p class="modal__content--wizard">
            <h5>{% trans 'Esta versión de MaadiX incluye una nueva funcionalidad de seguridad para gestionar la integridad del sistema con Rkhunter.'%}</h5>
            <p>{% trans 'Visita la siguiente página para saber más:'%}
            <a href="{% url 'system-config' %}">{% trans 'Ir a la página de configuración del sistema' %}</a></p>
            <h5>{% trans 'También puedes administrar más opciones para recibir notificaciones.'%}</h5>
            <p>{% trans 'Visita la siguiente página para saber más:'%}
            <a href="{% url 'notifications' %}">{% trans 'Ir a la página de configuración de las notificaciones ' %}</a></p>

            <div class="modal__actions--wizard">
                <button class="modal__cancel--wizard" data-dismiss="#modal-wizard">
                    {% trans 'recordar más tarde' %}
                </button>
                <form class="wizard-form" method="POST">
                    {% csrf_token %}
                    <button class="modal__submit--wizard" type="submit" name="wizardconfirm">
                        {% trans 'No mostrar más' %}
                    </button>
                </form>
            </div>
        </p>
    </div>
</div>
