{# modal to reboot maadix #}
{% load i18n %}

<div class="modal--wizard" id="modal-wizard">
    <div class="modal__content-wrapper--wizard">
        <p class="modal__content--wizard">
        {% if borg_key_status == 'modify' %}
          <h5>{% trans 'Las claves para desencriptar las copias de seguridad han cambiado. Es imprescindible que vuelvas a extraer una copia ya que las anteriores ya no son válidas.'%}</h5>
        {% else %}

            <h5>{% trans 'Tienes activado el servicio de copias de seguridad, pero todavía no has hecho una copia de las calves de encriptación.'%}</h5>
        {% endif %}
            <p>{% trans 'Sigue los siguientes pasos para hacer una copia de las claves que serán necesarias en el caso de que este servidor quede dañado.'%}
            <h5>{% trans 'Al final del proceso podrás confirmar que ya has hecho una copia para no volver a ver esta alerta'%}</h5>

            <div class="modal__actions--wizard">
                <button class="modal__cancel--wizard" data-dismiss="#modal-wizard">
                        {% trans 'De acuerdo' %}
                    </button>
                </form>
            </div>
        </p>
    </div>
</div>
