{# table that shows a DNS record #}
{# see templates/pages/dns.html #}
{% load i18n %}

{% for item in backups %}
  <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
    <td class="thin-class">
      {% if item.status %}
      <i class='fa fa-spinner fa-spin fa-1x fa-fw'></i>
      {% else %}
      <input id="{{ item.name }}-remove" class='remove-{{ model }}' type='checkbox' name='{{ model }}[]' value='{{ item.name }}'/></td>
      <input id="{{ item.name }}-inode" type="hidden" name="{{ item.name }}-inode" value="{{ item.inode }}" />
      <input id="{{ item.name }}-desc" type="hidden" name="{{ item.name }}-desc" value="{{ item.description }}" />
      <input id="{{ item.name }}-otherpath" type="hidden" name="{{ item.name }}-otherpath" value="{{ item.otherpath }}" />

      {% endif %}
    <td>{{ item.name }}</td>
    <td>{{ item.size }}</td>
    <td>{{ item.description }}</td>
  </tr>
  {% endfor %}
