{# Render a mailman domain with a list layout #}
{% load i18n %}

<div class="mailman--list">
    <div class="field domain__host--list">
        <label class="field__label">
            {% trans 'Dominio' %}
        </label>
        <div class="field__value inline">
              {{ domain.mail_host }}
        </div>
    </div>
    <div class="field domain__dns--list">
        <label class="field__label">
            {% trans 'DNS' %}
        </label>
        <div class="field__value inline">
            <a href="{% url 'checkdns' domain=domain.mail_host %}">
              {% trans 'Ver' %}
            </a>
        </div>
    </div>
    <div class="field domain__status--list">
        <label class="field__label">
            {% trans 'Acceso web' %}
        </label>
        <div class="field__value inline">
              {{ domain.status | safe }}
        </div>
    </div>
    <div class="field domain__dkim--list">
        <label class="field__label">
            {% trans 'DkIM' %}
        </label>
        <div class="field__value inline">
            {{ domain.DKIM | safe }}
            {% if domain.dkim_status %}
            <div class="activate">
            <button data-launch-modal    = '#modal-dkim'>
                {% trans 'Activar' %}
            </button>
            </div>
            {% endif %} 

        </div>
    </div>

</div>

