{% load i18n templatetags %}
{% if enabled_pools > 0 %}
    <h3>{% trans 'Pools Activos' %}</h3>
      <p>{%trans 'Solo puedes desactivar Pools que no tengan ningún dominio asociado.' %}</p>
      <p>{%trans 'Para desvincular o asignar  un dominio a un Pool accede a la página de edición del dominio.' %}</p>

       <div class="page__section--fields tableouter">
         <table class="default">
           <thead class="black-header">
             <tr>
               <th><label class="field__label">{% trans 'Pool' %}</label></th>
               <th><label class="field__label">{% trans 'Dominios asociados' %}</label></th>
               <th><label class="field__label">{% trans 'Desactivar' %}</label></th>
             </tr>
           </thead>
           <tbody>
            {% for field in form %} 
            <tr>
            {% if field.name|startswith:'disabled' %}
              <th><p class="field__value">{{ field.label }}</p></th>
              <th><p class="field__value">{{ field.help_text}}</p></th>
              <th> {{ field }}</th>
            {% endif %}
           <tr>
            {% endfor %}
          </tbody>
         </table>
       </div>
    {% else %}
      <p>{%trans ' No hay ningún Pool activado' %}</p>
    {% endif %}
    
    {% if disabled_pools > 0 %}
      <h3>{% trans 'Pools Desactivados' %}</h3>
         <div class="page__section--fields tableouter">
            <p>{%trans 'La Opción de eliminar por completo un Pool solo es accesible si los Pools siguientes no están en uso por ningún dominio.' %}</p>
            <p>{%trans 'Es decir, no puedes eliminar el Pool 3 si el Pool 4 está acrivado y asignado a un dominio' %}</p>
         <table class="default">
           <thead class="black-header">
             <tr>
               <th><label class="field__label">{% trans 'Pool' %}</label></th>
               <th class="last-small"><label class="field__label">{% trans 'Activar / Eliminar' %}</label></th>
            </tr>
           </thead>
           <tbody>
          {% for field in form %}
            {% if field.name|startswith:'edit' %}
              <tr>
                <th><p class="field__value">{{ field.label }}</p></th>
                <th>{{ field }}</th>
              </tr>
            {% endif %}
          {% endfor %}
          </tbody>
         </table>
        </div>
    {% endif %}

