{# table that shows a DNS record #}
{# see templates/pages/dns.html #}
{% load i18n %}

<div class="dns--table">
  {% for key, value in record.items %}
  <div class="field dns__required-value--table">
        <label class="field__label">
            {% trans key %}
        </label>
        <p class="field__value">
        {% if value == True %}
          ✓
        {% elif value == False %}
        {% if reg %}
          <a href='{% if not 'dns' in request.path %}{% url 'checkdns' domain=host %}{% endif %}#fix-{{reg }}'>
            ❌   {% trans '¿Cómo Corregir?' %}
          </a>
        {% else %}
          ❌
        {% endif %}
        {% else %}
          {{ value }}
        {% endif %}
        </p>
    </div>
  {% endfor %}
    {% if show_priority %}
    <div class="field dns__priority--table">
        <label class="field__label">
            {% trans 'Prioridad' %}
        </label>
        <p class="field__value">
            10
        </p>
    </div>
    {% endif %}
</div>
