{# Render a service with a grid layout #}
{% load i18n templatetags %}

<div class="service--grid" id="{{ service.settings.id }}">
    <figure class="field service__image--grid">
        <img class="field__value" src="{% asset_img service.settings.logo %}" />
    </figure>
    <div class="field service__title--grid">
        <h3 class="field__value">
            {{ service.settings.name }}
        </h3>
        <h5>{{ service.settings.summary }}</h5>
    </div>
    <div class="field service__description--grid">
        <div class="field__value">
            {{ service.settings.description | safe }}
        </div>
    </div>
    <div class="field service__requirements--grid">
      <h4>{%trans 'Recursos necesarios para instalación' %}</h4>
      <ul>
        <li><b>{%trans 'Espacio en disco: '%}</b>{{service.resources.disk}} M</li>
        <li><b>{%trans 'Memoria Ram: '%}</b>{{service.resources.ram}} M</li>
      </ul>
    </div>
      <ul class="service__actions--grid">
        <li class="service__action--grid">
            {{ form|get_countitem:service.settings.id}}
        </li>

    </ul>
    {% if service.dependencies or service.fieldlist or service.users  %}      
    <div class="service__dependencies--grid">
        {% for dependency in service.dependencies %}
        <input 
            id="id_dependency-{{ service.settings.id }}" 
            class="dependency_{{ service.settings.id }}_group"
            type="hidden" 
            value="{{ dependency.id }}" 
            name="dependency-{{ service.settings.id }}" 
        />
        {% endfor %}
        {% for field in service.fieldlist %}
          {% get_appfield form 'input' service.settings.id field.fid as formfield %}
            {% if formfield %}

            <div class="dependency" data-service="{{ service.settings.id }}">
            <label class="dependency__label {% if field.required %}required{% endif %}">
                {{ field.label }}
            </label>
            <p class="dependency__description">
                {{ field.helptext | safe }}
            </p>
                {{ formfield }}
                {%if formfield.field.widget.input_type == 'password' %}
                  {% with field.fid|add:"-2" as pass2 %}  
                    {% get_appfield form 'input' service.settings.id pass2 as formfield %}
                    <label class="dependency__label required">
                      {{ formfield.label }}
                    </label>
                      {{ formfield }}
                  {% endwith %}
                {% endif %}
            </div>
            {% endif %}
            {% if formfield.errors %}
                <div id="dependency__input-error-{{ field.id }}-{{ service.settings.id }}">
                    {{ formfield.errors|escape }}
                </div>
            {% endif %}
        {% endfor %}
        {% for user in service.users %}
            {% get_appfield form 'system' service.settings.id user.name as formfield %}
            {% if formfield %}
                {{ formfield }}
                {% if formfield.errors %}
                <div id="dependency__system-error-{{ user.name }}-{{ service.settings.id }}">
                    {{ formfield.errors|escape }}
                </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>
