{# Render a service with a grid layout #}
{% load i18n templatetags %}

<div class="service--grid {{ action }}">
    <figure class="field service__image--grid">
        <img class="field__value" src="{% asset_img service.settings.logo %}" />
    </figure>
    <div class="field service__title--grid">
        <h3 class="field__value">
            {{ service.settings.name }}
        </h3>
        <h5>{{ service.settings.summary }}</h5>
    </div>
    <div class="field service__description--grid">
        <div class="field__value">
            {{ service.settings.description | safe }}
        </div>
    </div>
    <ul class="service__actions--grid">
          <li class="service__action--grid">
            {% with fname=action|add:"-"|add:service.settings.id %}
                {% with field=form|get_countitem:fname %}
                 {% if field %}
                    {{ field }}
                 {% endif %}
                {% endwith %}
            {% endwith %}
          </li>
          {% if service.settings.id in disabled and service.settings.id in removable_servs%}
            <li class="service__action--grid">
              {% with fname='remove'|add:"-"|add:service.settings.id %}
                {% with field=form|get_countitem:fname %}
                  {% if field %}
                    {{ field }}
                  {% endif %}
                {% endwith %}
              {% endwith %}
          </li>
        {% endif %}
    </ul>
    {% if service.dependencies|length > 0 %} 
        {% with fname="dependency-"|add:service.settings.id %}
            {% with field=form|get_countitem:fname %}
                {% if field %}
                    {{ field }}
                {% endif %}
            {% endwith %}
        {% endwith %}
    {% endif %}
</div>
