{# error 404 template #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n %}
{% load i18n templatetags %} 
{% block body_classes %}page--404{% endblock %}
{% block page_html_title %}Error 404{% endblock %}

{% block main %}
<h1 class="page__title">
        {% trans 'Error' %}
</h1> 
<div class="page__subtitle">
</div>

<div class="page__content--user">
        <div class="page__content-left">
              {% trans 'La página que buscas no existe.' %}
        </div>
</div>
{% endblock %}

