{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--domains{% endblock %}
{% block page_html_title %}{% trans 'Eliminar Dominios' %}{% endblock %}
{% block main %}
<h1 class="page__title--domains">
      {% trans 'Eliminar Dominios' %}
</h1>
<div class="page__subtitle--domains">
      {% trans 'Confirmar borrado de dominios seleccionados.' %}
</div>
<div class="page__content--domains">

  <div class="page__wide-content-left--domains">

    <h2>{%trans 'Elementos seleccionados para ser eliminados' %}</h2>
    <div class="m-5">
    <ul class="list-group list-group-flush">{{ deleted_objects|unordered_list }}</ul>
    </div>
    <form method="post">{% csrf_token %}
      <input type="hidden" name="post" value="yes">
      <input type="hidden" name="action" value="{{action_name}}">
      {% for item in deleted_objects %}
      <input type="hidden" name="remove" value="{{ item }}">
      {% endfor %}
      <div class="my-3">
        <div class="form-check">
        <input class="form-check-input" type="checkbox" checked="checked"  name="action_approved" id="flexSwitchCheckDefault">
        <label class="form-check-label" name="action_approved" for="flexSwitchCheckDefault">
          {%trans 'Haciendo clic en Confirmar se trasladarán los elementos seleccionados a la papelera desde donde podrás eliminarlos de forma permanente' %}</label>
        </div>
      </div>
      <div class="my-3">
      <input type="submit" class="btn btn-success" value="{%trans 'Confirmar' %}">
      <a href="{{request.META.HTTP_REFERER}}" class="button btn btn-danger">{%trans 'Cancelar' %}</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}

