{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--domains{% endblock %}
{% block page_html_title %}{% trans 'Eliminar Dominios' %}{% endblock %}
{% block main %}
<h1 class="page__title--domains">
      {% trans 'Eliminar Dominios' %}
</h1>   
<div class="page__subtitle--domains">
      {% trans 'Confirmar borrado de  seleccionados.' %}
</div>  
<div class="page__content--domains">

  <div class="page__wide-content-left--domains">
  {% if success %}
    <h2>{{ model }}{%trans 'Elementos eliminados con éxito:' %}</h2>

    <ul>{{ success|unordered_list }}</ul>
  {% endif %}
  {%if errors %}
    <h2>{%trans 'Los siguientes elementos no se han podido eliminar' %}</h2>
    <ul>{{ errors|unordered_list }}</ul>
  {% endif %}
  </div>
</div>
{% endblock %}
