{# Login #}
{% extends 'layouts/single-fixed-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--login{% endblock %}
{% block page_html_title %}{% trans 'Bienvenid@!' %}{% endblock %}

{% block main %}
    <h1 class="page__title--login">
        Maadix CPanel
    </h1>
    <figure class="logo--login">
        <img src="{% img 'logo-maadix--full.png' %}" />
    </figure>
    <div id="login-switch-lang">
      {% include 'blocks/language-switch.html' %}
    </div>
  {% block content_wrapper %}
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  {% endblock %}

    <form class="form-login hide" id="form-ready" method="post">
       {% csrf_token %}
	{{ wizard.management_form }}
	{{ form.as_p }}

  {% if wizard.steps.prev %}
    <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans 'Volver' %}</button>

  {% endif %}
  <button type="submit" class="btn btn-primary form-login__submit">{% trans 'Siguiente' %}</button>

      <a class="form-login__password-reset-link" href="{% url 'password-recovery' %}">
          {% trans 'He olvidado mi contraseña' %}
      </a>
    </form>
      <div id="form-updating" class="form-login hide">
        <h3>{% trans 'Actualizando el sistema..' %}</h3>
            <p>{% trans 'Esta operación tardará unos minutos. En cuanto el sistema esté actualizado aparecerá el formulario para volver a acceder al Panel de Control.' %}</p>
            <img class="loading--login" src="{% img 'loading_bajo.gif' %}" />
      </div>
{% endblock %}

{% block page_scripts %}
    {% if local %}
    <script type="text/javascript" src="{% js 'status-local.js' %}"></script>
    {% else %}
    <script type="text/javascript" src="{% js 'status.js' %}"></script>
    {% endif %}
{% endblock %}

