//
// Base reset of DOM elements
//

@import compass/css3/text-shadow
@import text_to_header
@import sticky_footer

*
  box-sizing: border-box

html
  font-size: $size_base

body
  position: relative
  background-color: $color_background
  border-bottom: $m/2 solid $palette_blue_dark

main, aside.layout-sidebar
  font-family: $font_text
  font-weight: $font_text_weight

// RESET OF DEFAULT MARGINS AND PADDINGS
h3, h4, h5
  margin: $m 0
p
  margin: 0
ul,li
  padding: 0
  margin: 0
figure
  margin: 0

// SET DEFAULT TEXT SIZES
@for $i from 1 through 6
  h#{$i}
    +h($i)

small
  font-size: #{$size_small}em

// RESPONSIVE IMAGES BY DEFAULT
img
  max-width: 100%
  height: auto

iframe
  max-width: 100%

// LISTS
li
  list-style: none

// RESET LINK DEFAULT STYLES
a
  text-decoration: none
a:focus
  outline: 0

// RESET FORM DEFAULT STYLES
input,
select,
button,
textarea
  max-width: 100%
  &::focus,
  &::-moz-focus-outer,
  &::-moz-focus-inner,
    border  : 0
    outline : 0

select
  &:hover
    cursor: pointer

// SELECTION COLORS
::-moz-selection
  background: $color_selection_background
  color: $color_selection_text
::selection
  background: $color_selection_background
  color: $color_selection_text
