// Form styles

@import compass/css3/transition
@import compass/css3/filter

=button_base
  line-height: 40px
  padding: 0 $m/2
  border: 0
  font-family: $font_headers
  text-transform: uppercase
  +transition(background-color, .25s ease)

=button_success
  +button_base
  background-color: $color_success
  color: white
  &:hover
    background-color: darken($color_success, 5%)

=button_calm
  +button_base
  background-color: $color_calm
  color: white
  &:hover
    background-color: darken($color_calm, 5%)

=button_danger
  +button_base
  background-color: $color_danger
  color: white
  &:hover
    background-color: darken($color_danger, 5%)

=button_white
  +button_base
  background-color: white
  &:hover
    background-color: #eee

=button_box
  +button_base
  line-height: 36px
  border: 0
  background-color: white
  outline: 2px solid $color_text
  &:hover
    outline-width: 3px

=button_box_light
  +button_box
  outline: 1px solid $color_text

=button_none
  border: 0
  background: none

=button_maadix
  +button_base
  border: 0
  +transition(background-color .2s ease)
  background-color: $palette_maadix
  color: white
  text-transform: uppercase
  font-size: .8em
  &:hover
    background-color: darken($color_success, 5%)

=button_cancel
  +button_base
  +transition(background-color .2s ease)
  background: darken($palette_maadix, 5%)
  color: white
  text-transform: uppercase
  font-size: .8em
  &:hover
    background-color: #333
