{% extends "two_factor/_base_focus.html" %}
{% load i18n %}

{% block content %}
<h1>{% block title %}{% trans "Activar Autenticación en dos pasos (2FA)" %}{% endblock %}</h1>
<div class="page__section--2fa">
  <form class="default" action="" method="post">{% csrf_token %}
  {% if wizard.steps.current == 'welcome' %}
  <p>{% trans 'Estás a punto de aumentar el nivel de seguridad tu cuenta.' %}</p>
  <p>{% trans 'Sigue los pasos de este asistente para activar la autenticación de dos pasos.' %}
  {% elif wizard.steps.current == 'method' %}
    <p>{% blocktrans trimmed %}Selecciona el método de autenticación que 
        quieres  utilizar.
        {% endblocktrans %}</p>
  {% elif wizard.steps.current == 'generator' %}
    <p>{% blocktrans trimmed %}Para escanear este código QR necesitas una aplicación 
        de autenticación de dos pasos, por ejemplo: FreeOTP (Android y iOS), 
        Aegis Authenticator (Android), andOTP (Android) o Tofu Authenticator (iOS). 
        {% endblocktrans %}</p>
    <p>{% trans 'A continuación, introduce el token generado por la aplicación.' %}</p>
    <p><img src="{{ QR_URL }}" alt="QR Code" /></p>
  {% elif wizard.steps.current == 'sms' %}
    <p>{% blocktrans trimmed %}Please enter the phone number you wish to receive the
      text messages on. This number will be validated in the next step.
      {% endblocktrans %}</p>
  {% elif wizard.steps.current == 'call' %}
    <p>{% blocktrans trimmed %}Please enter the phone number you wish to be called on.
      This number will be validated in the next step. {% endblocktrans %}</p>
  {% elif wizard.steps.current == 'validation' %}
    {% if challenge_succeeded %}
      {% if device.method == 'call' %}
        <p>{% blocktrans trimmed %}We are calling your phone right now, please enter the
          digits you hear.{% endblocktrans %}</p>
      {% elif device.method == 'sms' %}
        <p>{% blocktrans trimmed %}We sent you a text message, please enter the tokens we
          sent.{% endblocktrans %}</p>
      {% endif %}
    {% else %}
      <p class="alert alert-warning" role="alert">{% blocktrans trimmed %}We've
        encountered an issue with the selected authentication method. Please
        go back and verify that you entered your information correctly, try
        again, or use a different authentication method instead. If the issue
        persists, contact the site administrator.{% endblocktrans %}</p>
    {% endif %}
  {% elif wizard.steps.current == 'yubikey' %}
    <p>{% blocktrans trimmed %}To identify and verify your YubiKey, please insert a
      token in the field below. Your YubiKey will be linked to your
      account.{% endblocktrans %}</p>
  {% endif %}
    {% include "two_factor/_wizard_forms.html" %}

    {# hidden submit button to enable [enter] key #}
    {#<input type="submit" value="" class="d-none" />#}

    {% include "two_factor/_wizard_actions.html" %}
  </form>
</div>
{% endblock %}
